[2021-07-09 19:35] trbauer commented on #167
Hello. Sorry about the delay (I just got notified about this).

Can you include your compiler version so we can try an reproduce the issue?

[2021-07-13 23:04] #97 closed

[2021-07-14 18:05] #186 closed

[2021-07-14 19:06] trilean commented on #184
I'm running into exactly the same issue using LLVM/clang/libc++ 12.

[2021-07-15 08:40] eero-t commented on #186
Regarding this line in the doc update:
`sudo apt-get install llvm-10 llvm-10-dev clang-10 liblld-10 liblld-10-dev`

'-dev' packages pull in the non-dev version of the given package automatically, so specifying those is redundant.  Or is the intent to set them as manually-installed, so that they do not automatically go away when corresponding -dev packages are removed (and user runs "apt autoremove

[2021-07-15 09:15] lwesiers commented on #186
yes

[2021-07-19 16:47] CH3CN opened #187 "Gentoo build - /usr/lib64/liblldELF.so: error adding symbols: file in wrong format"
I'm trying to build the latest release of intel-graphics-compiler (1.0.7862) on Gentoo but I am having some difficulties and I'm too inexperienced to figure this out. The ebuilds for intel-graphics-compiler and intel-neo in Gentoo are unmaintained so I've been working on my own local overlay. The last version of the igc I was able to build was 1.0.6083.

I made sure i have the appropriate commits

[2021-07-19 19:55] lwesiers commented on #187
Hello there,

I'm guessing that you are building here 32bit version of compiler?
intel-graphics-compiler-1.0.7862_build-abi_**_ x86_32_**.x86

Please try install 32bit version of lld libraries (if you don't have) and try fixed path for searching it by cmake parameter: **-DIGC_OPTION__LLDELF_LIB_DIR=/usr/lib32/**

and please let me know if this helps.

[2021-07-20 17:39] CH3CN commented on #187
Hi Łukasz,

Thank you for responding. The ebuild I was using for Gentoo had the use flag set for abi_x86_32 in addition to 64. I am unable to build the 32 bit version of the lld libraries as [multilib support isn't available](https://wiki.gentoo.org/wiki/Project:LLVM/Multilib) for lld in Gentoo. So unsetting the abi_x86_32 use flag has enabled build and compilation without errors and OpenCL works

[2021-07-20 17:39] #187 closed

[2021-07-24 14:13] GHGmc2 opened #188 "[Q&A]On SLM usage with multi work groups"
Take SIMD8 as an example, the max number of work groups on a DualSubSlice(DSS) is: (16EU * 8 Thread * SIMD8 / wg_size 512) = 2.
Say a DSS has 64KB SLM, and a workgroup needs 40KB SLM. Does the runtime know the max number of workgroups can be scheduled on an DSS is 1 (because 40 *2 > 64), or the developer must make sure not to use SLM size larger than 32KB for one workgroup on the application side?

[2021-07-28 14:41] vm3tr1c1 opened #195 "OpenCL compiler issues for Intel 11th gen CPU?"
- opencv 3.4.15
- centos 7.9, kernel 5.13.5-1 with i915.force_probe=4c8a
- gcc 7.3.1
- CPU: i5-11600
- intel-opencl-21.28.20343-1.el7.x86_64

At the runtime of an opencv application which use the ocl4dnn module, a lot of 'simd size' errors are generated, like these ones:

OpenCV(ocl4dnn): The OpenCL compiler chose a simd size (16) that does not equal the size (8) kernel source required.

[2021-07-30 16:28] paigeale commented on #182
Marking this as resolved since we cleaned up our commit messages to address the two points here.

[2021-07-30 16:28] #182 closed

[2021-07-30 16:32] paigeale commented on #174
@onlytheworld I am closing this issue as it appears this is done by design. If you are still experiencing the above issue with a Debug configuration please reopen and we can address this. Thank you

[2021-07-30 16:32] #174 closed

[2021-07-30 16:36] paigeale commented on #167
@phambinh would you be able to provide more information here? We are internally trying to reproduce this issue.

[2021-07-30 20:23] phambinh commented on #167
Hi, I just tried to reproduce the error again but I couldn't. This is perhaps because our compilers had been upgraded since the time I reported the issue. Currently I am using gcc 11.1.0 and I don't remember what was the version before unfortunately. We can close this issue. Thanks!

[2021-08-04 23:02] ArchangeGabriel opened #191 "Compilation failure on 1.0.8173 with LLVM12"
While I’ve been able to fix most issues w.r.t to compiling with LLVM12, there is one remaining:
[code]

[2021-08-04 23:25] ArchangeGabriel commented on #184
@trilean That’s a different issue, but you indeed need another patch for LLVM 11/12: https://github.com/archlinux/svntogit-community/blob/fc78567191acd6d23c2a46d8f5de331a820584b4/trunk/llvm12-porting.patch
Also, see #190 and #191.

[2021-08-06 04:06] jbeich commented on #191
Does level-zero work for you? At least [ze_peak](https://github.com/oneapi-src/level-zero-tests/tree/master/perf_tests/ze_peak) fails here e.g.,
[code]

[2021-08-06 04:10] jbeich commented on #191
Note, the above crash is with Arch patches for LLVM 12. Without patches level-zero in igc-1.0.8173 works fine using LLVM 11.

[2021-08-16 07:13] tjaalton commented on #191
surely you had to revert 32944e60e97f634fe975b9407e1f1d6b6510f93b first?

this is getting ridiculous, I haven't been able to update i-g-c in Debian/Ubuntu since 1.0.5353.1 and we're about to move to LLVM 13 next month.. next step would be to drop the package (and compute runtime) as they're getting useless

[2021-08-16 19:12] ztuowen commented on #191
I've finally got igc and compute-runtime to compile on ArchLinux w. LLVM 12.0.1.

I've used the following patches, in this order:

1. [llvm12-porting.patch](https://github.com/archlinux/svntogit-community/blob/packages/intel-graphics-compiler/trunk/llvm12-porting.patch) from arch testing.
2. 8e1a461d3e6
3. 42963623ea53f4cd77fc3dc9ca4c099c5f10f456
4. fd480731ad77213fbfcd9677d03e8243acbb306c

The co

[2021-08-19 13:45] knzivid opened #194 "SIGSEGV: Pass 'Dead Code Elimination' is not initialized"
On arch linux, I get this error when I `clBuildProgram`

[code]

The backtrace on the crashing thread

[code]

These are the related package versions

[code]

I am not able to reproduce this on a Hello World OpenCL program.

[2021-08-22 21:15] troels opened #192 "Infinite loop somewhere around CodeSinking.cpp"
Hi, I've been trying to run the following spir-v file on my Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics] (rev 01)

Unfortunately it never gets to the graphics card but stalls somewhere in the optimization. The process does not progress for 30 minutes and killing it or hooking into it with GDB, shows it's running somewhere around the CodeSinking. The following is a stacktrace after ~20 min

[2021-08-25 10:31] zboszor opened #193 "Build failure of 1.0.8365 with LLVM 13 on current meta-clang and meta-intel layers' master branches"
See https://github.com/YoeDistro/meta-intel/issues/3

[2021-08-28 17:41] alalek commented on #195
Can confirm the similar behavior for i7-11700K on Win10 with 27.20.100.9127 driver.
Will try to prepare minimal reproducer for this problem.

[2021-08-31 14:44] pszymich commented on #184
Hello @jbeich,

The #189 PR was merged. Has this issue been resolved?

[2021-08-31 21:11] jbeich commented on #184
I confirm, [builds fine](https://github.com/intel/intel-graphics-compiler/files/7086815/intel-graphics-compiler-llvm10-1.0.8365.227.log) now.

[2021-08-31 21:11] #184 closed

[2021-09-01 02:39] alalek commented on #195
Investigation shows that there is incorrect condition in OpenCV code.
We should not use `clGetKernelWorkGroupInfo(CL_KERNEL_PREFERRED_WORK_GROUP_SIZE_MULTIPLE)` check in such strict way. It is a hint and it should not block kernels execution.
"Unblocked" kernels work fine without regressions.

This issue can be closed (no problem in IGC compiler).

[2021-09-01 15:08] eero-t commented on #191
Latest IGC & compute-runtime releases (from 1-2 week ago) build fine with latest Ubuntu (21.04) default LLVM v11 / opencl-clang etc, so at least they can be updated for 21.04, for better HW support.

Latest IGC release lists LLVM v12 fixes, so maybe it compiles now with that too  (I have not tested that myself though)?

Looking at Debian build, it seems to disable VC, but my guess is that there's

[2021-09-02 13:41] matborzyszkowski commented on #164
The issue was resolved [here](https://github.com/intel/intel-graphics-compiler/commit/cf9eff6b87d7b478c06a28d3e77453857893100f)

Thanks for reporting.

[2021-09-02 15:17] eero-t commented on #191
According to LLVM version support status page: https://github.com/intel/intel-graphics-compiler/projects

VC enabled build fails with LLVM v12, they work only with LLVM v11.

[2021-09-02 17:51] tjaalton commented on #191
yeah I didn't bother to package vc-intrinsics at the time, but uploaded it now.. will take some time to get through the NEW queue

[2021-09-03 10:33] pszymich commented on #193
Hi @zboszor,

Build problems described in YoeDistro/meta-intel#3 should be resolved with latest changes to IGC including 0d561cc954841e5eadc4c60398e8a8207c25110b.

I'm closing this for now, please reopen or create a new issue if you come across other build problems.

Thanks!

[2021-09-03 10:33] #193 closed

[2021-09-03 11:22] pszymich commented on #191
Hello,

We are aware of the problems with building IGC with LLVM >= 11. The LLVM 11 update in IGC has taken longer than expected mainly because we have always planned to provide a high quality build by means of thorough testing. We have just switched to LLVM 11 in the production environment.

With that being said we recognize our current methods are too slow for timely adoption of new LLVM version

[2021-09-03 11:22] #191 closed

[2021-09-03 15:27] vm3tr1c1 commented on #195
@alalek
I can confirm that the OpenCV patch resolves the problem. Thank you!

[2021-09-03 15:27] #195 closed

[2021-09-06 15:59] pszymich commented on #192
As described in #199, the issue has been fixed with the merged change, so I'm going to close this one. Please reopen if that's not the case.
Thanks!

[2021-09-06 15:59] #192 closed

[2021-09-06 22:23] #167 closed

[2021-09-07 10:33] #194 closed

[2021-09-07 10:34] knzivid commented on #194
Thanks for the fix :)

[2021-09-07 10:40] pszymich commented on #194
Happy to help!

[2021-09-07 12:12] eero-t commented on #202
With LLVM sources?  But the whole point of this bug is using system libraries, to avoid compiling the world (faster builds, smaller binaries and memory usage when multiple things share the same libs, easier security updates etc).

Bugs for other projects with similar issues seem to be because they link multiple versions of LLVM, either different versions, or both dynamic & static versions.  In my

[2021-09-07 13:31] JacekDanecki commented on #202
Compute runtime doesn't use llvm directly, it loads IGC libraries. This is why I've moved this issue to IGC project.
IGC and its dependencies can be compiled using different methods (with llvm sources, dynamic or static libraries), but for some reasons under Ubuntu there are problems with opencl-clang when it is compiled separately with system libraries. I've not observed such issues on another di

[2021-09-07 15:32] agrachiv commented on #145
Just successfully built igc, using ninja.

`[3337/3337] Completed 'SPIRVDLL_EX'`

[2021-09-07 15:33] #145 closed

[2021-09-07 16:12] pszymich commented on #121
Hi @jbeich,

We stopped building on TravisCI some time ago, so I'm gonna close this one. Thanks.

[2021-09-07 16:12] #121 closed

[2021-09-08 15:05] agrachiv commented on #144
Hello.

It looks like, you didn't locate your sources properly. Please, follow the given [instruction](https://github.com/intel/intel-graphics-compiler/blob/master/documentation/build_ubuntu.md) for Ubuntu build.

[2021-09-08 15:08] kvladimi commented on #144
Andrey meant please follow it for RedHat build. Then looks like this works, closing.

[2021-09-08 15:08] #144 closed

[2021-09-09 15:57] aus-intel commented on #148
After https://github.com/intel/intel-graphics-compiler/commit/7309126ed72fb6136ff0ff1ee522121e97fb07a2 it should be possible to build IGC without SPIRVDLL using original Khronos SPIRV translator. This is controlled by main options that switch VC to use translator without modifications: `-DIGC_OPTION__LINK_KHRONOS_SPIRV_TRANSLATOR=ON` and `-DIGC_OPTION__USE_KHRONOS_SPIRV_TRANSLATOR_IN_VC=ON`. Mode

[2021-09-09 16:02] eero-t commented on #148
Thanks!  I assume modifications to Khronos version are done for some additional features.  Are there any user-visible features that one would lose as result of using unmodified translator, or are these modification related e.g. just to how optimized the resulting code will be?

[2021-09-09 17:18] aus-intel commented on #148
Patching was needed to support loading of translator as dynamic module. All other features are upstreamed to Khronos repository to corresponding release branches so no functional/performance issues expected.

[2021-09-10 14:30] eero-t commented on #148
Great, thanks!

Looking at my earlier build log for latest "igc-1.0.8517" release, CMake options one gets with " -LH -DINSTALL_SPIRVDLL=0", are following:
[code]

Testing  only enabling  these, shows that in "igc-1.0.8517" release, " -DINSTALL_SPIRVDLL=0" option still needs to be specified, but even with that build still fails.

Build of "master" (i.e. with  7309126 commit) fails unless "GC_OPTION

[2021-09-10 15:31] aus-intel commented on #148
Scalar part of IGC (that is controlled by `IGC_OPTION__USE_KHRONOS_SPIRV_TRANSLATOR_IN_SC`) is not ready to use Khronos version of translator now (there can be build/functional/perf regressions) and they use internal copy so no additional repos are required. To disable SPIRVDLL and remove requirement on SPIRV translator sources availability only VC part should be switched.

[2021-09-14 06:50] zboszor opened #204 "ocloc crashes with LLVM 13"
I have a (not really usable) backtrace from running ocloc via a qemu wrapper when building under Yocto 3.4 with LLVM 13 from meta-clang.
[code]
Currently I can only build the latest IGC+compute-runtime via a forked meta-intel Yocto layer if I use `-DNEO_DISABLE_BUILTINS_COMPILATION=1` with LLVM 13.

[2021-09-16 11:19] pszymich commented on #204
Hi @zboszor,
I've put your issue on hold in the LLVM 13 support project. When we unclog VectorCompiler build I will look into this.

Please note `build_ubuntu.md` doc is slightly out-of-date with refactor coming; for current up-to-date LLVM version support information please visit our projects page: https://github.com/intel/intel-graphics-compiler/projects.

[2021-09-16 12:36] pszymich commented on #185
I see that the linked issue in Compute Runtime has been resolved, so I'm closing this one.

In case this is a separate problem, please reopen, thanks.

[2021-09-16 12:36] #185 closed

[2021-09-24 00:38] hewj03 commented on #202
This is an issue in LLVM 10. It is fixed in LLVM 11 by https://reviews.llvm.org/D75579
Please check the commit message for details.

opencl-clang and IGC libraries link to both libclang-cpp.so.10 and libLLVM-10.so.1, thus there is double registration of "mc-relax-all"

Cherry-picking it to llvm-10 requires cherry-picking https://reviews.llvm.org/D68063 as well and solving a couple of merge conflic

[2021-09-27 07:36] pszymich commented on #202
I'm closing this one as it was identified as external issue.
We now offer full LLVM 11 support, so you can use such configuration to avoid the problem.

[2021-09-27 07:36] #202 closed

[2021-09-27 10:05] eero-t commented on #202
IMHO CMake could check that LLVM is supported version i.e. explicitly reject too old (or new) versions.

And Top level README.md could point out the LLVM support info, e.g. in the Depenencies section, like this:
* LLVM Project - https://github.com/llvm/llvm-project
   * Version support status: https://github.com/intel/intel-graphics-compiler/projects

[2021-10-07 08:36] kurapov-peter opened #206 "Intended debug flow for libigc failures?"
Hi, I'm using llvm 12 (built from sources) and Khronos SPIRV translator to generate IR (opencl-like) and then SPIRV for compute-runtime build and run. The flow works just fine when I use release packages, yet I'm facing failures in libigc sometimes.
I used to build debug versions of igc, neo and loader to track issues down, but updating components versions to latest release tags (and switch to llv

[2021-10-12 20:27] sudden6 opened #207 "Compiler crashing on my OpenCL kernel"
I'm trying to build the kernel [clqueens.cl.txt](https://github.com/intel/compute-runtime/files/7332972/clqueens.cl.txt), but the Intel OpenCL compiler causes a segmentation fault, see [backtrace.txt](https://github.com/intel/compute-runtime/files/7332962/backtrace.txt)

Release is from: https://github.com/intel/compute-runtime/blob/master/opencl/doc/DISTRIBUTIONS.md#opensuse-leap-153 version 1.0.

[2021-10-14 17:57] dreifachstein opened #211 "OpenCL rotate produces wrong results"
System:
  Debian unstable
  intel-opencl-icd 21.32.20609-1

Processor: i5-11300H

Kernel:
[code]
Executing the kernel for 0-31 on produces:
[code]

[2021-10-15 10:02] pszymich commented on #169
Thanks @Brocolli1! Closing.

[2021-10-17 08:11] kquote03 opened #208 "Blender hangs when compiling render kernels"
Console output:
[code]

[2021-10-18 11:53] ArchangeGabriel opened #209 "Failure to build 1.0.8744"
Hi there,

Thanks to all your hard work lately, I’m getting close to compiling against LLVM12. I’ve having some issues still with the latest release, but not LLVM related. One I’m going to make a PR for, that is LLD-building related.

The other one is this:
[code]

Of course I can add `-Wno-error=nonnull`, and I will likely do so, but figured out I should still report. ;)

[2021-10-27 08:01] frantisekz opened #212 "Failure to build 1.0.8744 : IGC/VectorCompiler/CMCL/tools/Translator/Main.cpp:46: undefined reference to `cmcl::translateBuiltins(llvm::Module&)' unless '-z,undefs' specified as LD flag"
Hi,

I am experimenting a bit with packaging bunch of Intel packages into Fedora (with ultimate goal of getting the media-driver there, including the kernels compilation). I need to use system llvm (13) for this instead of bundled llvm.

I am currently stuck with:

[code]

The entire buildlog could be viewed here:
[build-igc.log](https://github.com/intel/intel-graphics-compiler/files/7424267/build

[2021-10-27 11:12] #209 closed, assigned to mbelicki

[2021-10-29 06:22] rcombs opened #213 "Avoid using glibc-specific strerror_r variant"
IGC currently calls `strerror_r` and expects it to return a `const char*`: https://github.com/intel/intel-graphics-compiler/blob/9307c016f1da25a4dd06b67ab329dd2179b17dfa/visa/iga/IGALibrary/system.cpp#L263

This is glibc-specific behavior. The POSIX behavior is for `strerror_r` to always write its output to the passed-in buffer, and to return an integer error code. This behavior is the only varian

[2021-10-29 06:30] rcombs opened #214 "Avoid setting -Werror in non-development builds?"
This can cause issues when different versions of compilers include different warnings in `-Wall` or `-Wextra`, or vary the semantics of existing ones. For instance, on my particular build of clang 11.0.1, I get this warning:
[code]

Which requires me to patch out the CMake code setting `-Werror`. There's not a lot of value to `-Werror` outside of development, so could this be removed (or could an

[2021-10-31 03:29] NoahSmith9 opened #215 "Can I build it on Windows? Is there a doc for that?"
I didn't find any hints to build on windows.
thank you!

[2021-10-31 20:57] frantisekz commented on #212
@JacekDanecki won't you have any idea what can be the cause of this? I've seen you've done a bit of Fedora/Copr packaging of igc and others...

Thanks!

[2021-11-04 15:56] trbauer commented on #213
Excellent. (At a glace) I agree. We desire portability here.

[2021-11-05 14:46] foutrelis opened #216 "Compile error with GCC 11.1 on current master branch"
The error seems self-explanatory (appears to have been introduced by https://github.com/intel/intel-graphics-compiler/commit/958e92b704f5f2351bfd5d78b1c1eea8f07a88e2):

[code]

[2021-11-08 15:29] pszymich commented on #214
Hi @rcombs,

This issue should be fixed by e382784f5d1ccc055a348a6bb103f72c0bade385, thanks @mnaczk!
Please reopen this issue if you find that the problem is still there, thank you!

[2021-11-08 15:29] #214 closed

[2021-11-09 16:32] foutrelis commented on #216
Seems fixed by 99edbf49d7c97febca9fd354415a9a93c92421d3.

[2021-11-09 16:32] #216 closed

[2021-11-11 12:22] foutrelis commented on #204
Wonder if this ASan provides any clues as to what the issue might be:

[code]

[2021-11-11 16:32] eero-t commented on #204
What are the versions of the dependencies other than LLVM?

Why the build is done under (x86_64) Qemu, and what additional limitations (e.g. RAM) it sets on the build environment?

Can you reproduce ocloc crash without Qemu (e.g. in a docker container, if you want build to be isolated)?

[2021-11-13 18:27] zboszor commented on #204
The versions are in the honister and current master branches of Yocto's openembedded-core, meta-openembedded, meta-clang and meta-intel.

Because in a cross-compiling environment (e.g. Yocto) you have two ways to deal with executables built and run during the build: either use a host-native build variant and use the executables from that (which does not work if the executable relies on type sizes

[2021-11-17 09:25] tjaalton commented on #142
I finally got intel-vc-intrinsics package accepted in Debian, and then I see this..

[2021-11-18 14:20] frantisekz commented on #212
The issue goes away by changing LDFLAGS from:
'-Wl,-z,relro -Wl,--as-needed  -Wl,-z,now   -flto'

to:

'-Wl,-z,relro -Wl,-z,undefs,-z,now   -flto'

I'll leave the ticket open with the title changed, however, feel free to close it if this is expected.

[2021-11-23 18:37] frantisekz opened #218 "CMCLTranslatorTool crashes on any file from igc repository"
After working around #212 , I was able to get the CMCLTranslatorTool building, however, it is crashing on atempting to process any of the files during the compilation.

[code]

The same issue happens both with igc-1.0.9389 and igc-1.0.8744 .

I've tried removing all the hardening flags the Fedora adds to C/CXX flags, basically aligning with what ArchLinux uses by default, the result was same howev

[2021-11-23 19:01] ArchangeGabriel opened #219 "External SPIRV-Tools"
Latest released switched `IGC_BUILD__SPIRV_TOOLS_ENABLED` to be default ON on all platforms. I could not find a way to use a prebuilt spirv-tools, is there any? If not, please consider allowing it and in the mean time I’d like to know what is lost if I switch back to disabling this.

[2021-11-23 19:08] ArchangeGabriel commented on #219
(By disabling I mean patching `set(IGC_BUILD__SPIRV_TOOLS_ENABLED ON)` in https://github.com/intel/intel-graphics-compiler/blob/master/IGC/CMakeLists.txt to `OFF`)

[2021-11-26 17:38] jbeich commented on #213
Obsolete after f2918eea84a4 ?

[2021-11-26 17:44] rcombs commented on #213
f2918ee looks potentially incorrect to me; the glibc version of `strerror_r` doesn't necessarily write its output to the passed-in buffer (it may instead just return a static string).

[2021-11-29 09:45] pszymich commented on #215
Hello @NoahSmith9,

We don't support building IGC on Windows and we don't have plans to start doing so. Even though it's theoretically possible to build on Windows, you may/will encounter problems that are not documented.

[2021-11-29 09:45] #215 closed

[2021-12-07 05:31] itzmeanjan opened #221 "Kernel name not found, although compiled properly"
Hello,

I've [this](https://github.com/itzmeanjan/vectorized-rescue-prime/blob/064616d3952c8fe48815b630df206eb7a517fe63/kernel.cl) OpenCL kernel, which I'm trying to compile against device `Intel(R) HD Graphics 5500 [0x1616]`. Although build happens successfully, when I use following code snippet to get a list of available kernels from built program, I only get a list of two kernels, though I'm ex

[2021-12-10 18:02] kvladimi commented on #148
Finally this is done. We got rid of SPIRVDLL and it will no longer required here. Will update README.

[2021-12-10 18:02] #148 closed

[2021-12-17 13:48] eero-t commented on #219
Regarding SPIRV tooling needed by IGC in general, I could not get IGC compiled any more without providing it also SPIRV-Headers / SPIRV-Tools / SPIRV-LLVM-Translator sources.  Additionally, IGC itself wants to checkout specific commits from last one, so it needs to be fairly full Git repo (not "--depth 1"). Looking at the IGC release notes, opencl-clang and IGC VC are build against *different* SPI

[2021-12-23 14:46] frantisekz commented on #212
The issue was in Fedora defaulting to -DBUILD_SHARED_LIBS:BOOL=ON .

[2021-12-23 14:46] #212 closed

[2021-12-23 14:46] frantisekz commented on #218
The issue was in Fedora defaulting to -DBUILD_SHARED_LIBS:BOOL=ON .

[2021-12-23 14:46] #218 closed

[2021-12-26 18:59] ArchangeGabriel commented on #148
@kvladimi Does that mean we should now set `IGC_OPTION__USE_KHRONOS_SPIRV_TRANSLATOR_IN_SC=ON`?

[2021-12-26 19:03] ArchangeGabriel commented on #219
@eero-t I’m still able to compile without SPIRV-LLVM-Translator sources (but using prebuilts with upstream tagged releases).

[2021-12-27 11:55] aus-intel commented on #148
@ArchangeGabriel `IGC_OPTION__USE_KHRONOS_SPIRV_TRANSLATOR_IN_SC=ON` should not be used. This flag is for opencl (scalar) compiler. This component uses custom copy of translator that is located inside IGC code (AdaptorOCL/SPIRV) so SPIRVDLL is not required for this component in any mode (see https://github.com/intel/intel-graphics-compiler/issues/148#issuecomment-916994097).

Regarding vector comp

[2022-01-05 17:34] eero-t opened #224 "Building "compute-runtime" releases fails to ocloc errors with all IGC releases after "igc-1.0.9636""
When trying to build latest compute-runtime "21.52.22081" release, after building:
* GMMlib: intel-gmmlib-22.0.1
* IGC: igc-1.0.9933, with:
  - SPIRV-Headers: sdk-1.2.198.0
  - SPIRV-LLVM-Translator: llvm_release_110
  - SPIRV-Tools: v2021.4
  - vc-intrinsics: HEAD
* Level-Zero: v1.7.4

I get following errors:
[code]

Googling shows this to happen when components have been built against different

[2022-01-08 09:02] zboszor commented on #204
And here's the reasoning from LLVM devs: https://reviews.llvm.org/D105653?id=357321

[2022-01-09 06:49] zboszor commented on #204
IGC calls `TargetRegistry::RegisterTarget()` twice in `IGC/VectorCompiler/lib/GenXCodeGen/TargetInfo/GenXTargetInfo.cpp` with target/backend names `"genx32"` and `"genx64"`, respectively, but doesn't provide the function for the 5th argument `Target::ArchMatchFnTy ArchMatchFn` so VISAModule::m_triple == "vISA_64" can't be matched as a compatible machine triple.

Alternatively, the "machine triple"

[2022-01-12 02:12] haonanya commented on #207
@sudden6 , could you please provide branch name and commits of opencl-clang, SPIRV-LLVM-Translator and llvm you are using? Thanks very much.

[2022-01-12 08:16] sudden6 commented on #207
SPIRV-LLVM Translator commit: 4d43f68a30a510b4e7607351caab3df8e7426a6b

opencl-clang Tag: 10.0.0-2

I'm not sure what LLVM commit is used in the package. I'd be also happy to hear if my code compiles on the newest master branches.

[2022-01-13 09:34] eero-t opened #225 "Update LLVM versions status in "projects""
According to projects page, it has last been updated in September: https://github.com/intel/intel-graphics-compiler/projects

Since that, for example 3 of the 4 bugs referenced in those status pages, have been closed.

[2022-01-13 09:45] eero-t commented on #224
Thanks for moving the ticket!   Same issue happens also with the new "compute-runtime" 22.01.22131 release.

[2022-01-13 11:06] pszymich commented on #225
Hi @eero-t,

The LLVM compatibility status pages were meant to follow the LLVM update status.
Some issues have been closed, but there's no need for them to move between categories. Eg. in [LLVM 12 status page](https://github.com/intel/intel-graphics-compiler/projects/2), issue #191 is resolved, but it's category is still "Build health". I may decide to archive those closed ones, but for now I see

[2022-01-13 15:01] eero-t commented on #225
Next Ubuntu LTS (22.04) will be released in 3.5 months, and it's (currently) defaulting to LLVM v13: https://packages.ubuntu.com/jammy/llvm

So I had been hoping for more progress, and projects page just being out of date, but I completely understand HW support having more priority.

Thanks for the info!

Things going to new disto version would need to be released couple of month before the new di

[2022-01-20 05:21] haonanya commented on #207
Hi, @sudden6. When try to build IGC from source or prebuild, there are some build errors. Could you please kindly offer more details about IGC build since I am not familiar with the env setting on opensuse?
The backtrace show that libopencl-clang.so.11 is used. I'd like to know:
1. Which build(source, prebuild) mode are we using? When build mode is prebuild, use llvm-11.0.0 it seems that there are

[2022-01-22 16:18] sudden6 commented on #207
@haonanya I don't really now the exact build setup, since I just installed the package that's linked in DISTRIBUTIONS.md

If you can confirm that the kernel successfully compiles on some other platform or with latest master I'd be happy to close this issue and try that platform.

[2022-01-25 08:54] haonanya commented on #207
Hi, @sudden6. I am using llvm11.0.1, latest opencl-clang 11branch and SPIRV llvm_release_110 source build. I got the similar crash information:
`
[haonanya@shliclel311 33566]$ ../ocl-clang-110/build/bin/clang++  -cc1 -emit-llvm -triple spir-unknown-unknown -finclude-default-header -cl-std=CL3.0 clqueens.cl  -cl-ext=+__opencl_c_device_enqueue
clang++: /export/users/haonanya/ocl-clang-110/llvm/inclu

[2022-01-27 03:15] haonanya commented on #207
Small reproducer is attached.
[block.cl.txt](https://github.com/intel/intel-graphics-compiler/files/7947273/block.cl.txt)

[2022-01-27 05:49] haonanya commented on #207
I file an issue https://github.com/llvm/llvm-project/issues/53436.

[2022-01-27 09:10] sudden6 commented on #207
@haonanya Thank you very much!

[2022-01-31 10:59] eero-t commented on #219
IGC does not build with the latest SPIRV-Tools "v2022.1" release sources:
[code]

Building succeeds only after downgrading SPIRV-Tools sources to "v2021.4" release.

[2022-01-31 11:03] eero-t commented on #224
And with the new compute-runtime "22.04.22286" release.

[2022-01-31 11:24] eero-t commented on #225
The situation for upcoming Ubuntu 22.04 LTS is looking a bit odd.  IGC itself built against LLVM 12: https://packages.ubuntu.com/source/jammy/intel-graphics-compiler

But its opencl-clang dependency is built against LLVM 13: https://packages.ubuntu.com/source/jammy/intel-opencl-clang

Can that work?

[2022-01-31 12:31] pszymich commented on #225
I'm not sure why such packages are available, but IGC cannot use opencl-clang built against different LLVM major release.

[2022-01-31 12:37] eero-t commented on #225
By default packages are built against distro version default compiler version, unless package maintainer does something exceptional.  In 22.04 default LLVM is v13.  In IGC case, LLVM version needs to be explicitly state because support for other than single version is less good.

(E.g. Mesa project supports latest and one older version of LLVM.)

[2022-02-03 02:04] anbe42 opened #227 "ocloc crashes when using igc built with llvm-13"
While building 22.04.22286 on Debian using igc 1.0.9933 built against llvm-13, ocloc crashes reproducibly.
When using igc 1.0.9933 built against llvm-11, the build succeeds and all tests pass.

[code]

[2022-02-03 16:49] anbe42 commented on #227
It would be great if intel-graphics-compiler had a unit test that would reproduce this error on llvm-13 without requiring one to compile intel-compute-runtime ...

[2022-02-04 15:49] eero-t opened #228 "Build failure both with system LLVM v12, and GCC v11"
### Setup / dependencies

Ubuntu 21.10 (container) packages:
* gcc g++ libc-dev flex bison pkg-config make cmake ninja-build libz-dev clang-12 llvm-12-dev liblld-12-dev libopencl-clang-dev
* GCC = v11.2.0

Git builds of following source versions:
* GMMlib: "intel-gmmlib-22.0.2" (latest tag)
* SPIRV-Tools: "sdk-1.3.204.0" (latest tag)
* SPIRV-Headers: "sdk-1.3.204.0" (latest tag)
* SPIRV-LLVM-Trans

[2022-02-04 16:02] eero-t commented on #224
And new "igc-1.0.10183" IGC version.  Also, IGC fails building SPIRV-Tools "v2022.1" (for "v2021.4" it still works).

[2022-02-08 12:42] eero-t commented on #228
Same issue happens also when using older (2021) "igc-1.0.9636" release.

[2022-02-08 14:22] eero-t commented on #228
Is "SWSB_G4IR.cpp" code built with LLVM or GCC?

The GCC version 11.2 in my Ubuntu 21.10 build container is the same one that will be in next Ubuntu 22.04 LTS release: https://packages.ubuntu.com/jammy/gcc

[2022-02-09 15:35] anbe42 opened #229 "misspellings"
the Debian tool Lintian flags various common misspellings in the binaries:

occurrences of the misspellings in 1.0.10183 source:
[code]

BTW, what's the correct plural of the data type `half`? (I've excluded the occurrences of `halfs` from above list)

[2022-02-09 18:36] tjaalton commented on #219
still no resolution to this after nearly three months.. trying to keep this stack updated in a distro is a hopeless task

[2022-02-10 15:52] pszymich commented on #219
Hi, I wanted to address two separate issues we have here:

1. **Build problem with SPIRV-Tools 2022.1**
  I managed to reproduce the problem using
    * SPIRV-Tools revision `v2022.1`
    * SPIRV-Headers revision `sdk-1.2.198.0`

   Pulling SPIRV-Headers to `HEAD` of master branch fixed the problem. The issue is only for `SPIRV-Tools-static` build target.
   This tells me SPIRV-Headers latest rele

[2022-02-11 11:41] eero-t commented on #219
There's a SPIRV-Headers bug for getting new release that would support latest SPIRV-Tools: https://github.com/KhronosGroup/SPIRV-Headers/issues/266 (containing link to corresponding bug in SPIRV-Tools).

[2022-02-16 16:20] pszymich commented on #219
@agrachiv, please update with an ETA. Thanks!

[2022-02-16 16:23] agrachiv commented on #219
Hi! I hope to will fix it until the end of the work week.

[2022-02-17 10:17] eero-t commented on #128
@maleadt I'm not an IGC developer, but have you tried a newer version of IGC / compute-runtime yet?

[2022-02-17 10:36] eero-t commented on #142
Based on there being no responses to this from IGC developers since it was opened 1.5 years ago, it does not seem like bundling is going to happen...

[2022-02-21 12:03] eero-t commented on #228
That build breakage is due to change in GCC v11 requiring C++ code to actually include the headers for the functions they use:
https://www.gnu.org/software/gcc/gcc-11/porting_to.html#header-dep-changes

Fix is trivial, add following line to `visa/LocalScheduler/SWSB_G4IR.cpp`:
`#include <limits>`

After that fix, and dropping the failing part of 661333ec59b6ecd944924c1e2dc270ee75ef07c1 commit, IGC

[2022-02-21 12:26] eero-t commented on #224
And new "igc-1.0.10200" IGC release with new "22.07.22465" compute-runtime release.  This time on top of Ubuntu 20.10 i.e. LLVM 12 + GCC 11.

Like earlier, downgrading to IGC "igc-1.0.9636" fixes compute-runtime build.

SPIRV-Tools issue was Khronos having mismatched releases. Build works fine when using e.g. the new "sdk-1.3.204.0" tag for both SPIRV headers and tools projects.

[2022-02-21 12:27] eero-t commented on #219
@ArchangeGabriel Btw. IGC builds fine with the sources from the new "sdk-1.3.204.0" tagged SPIRV headers and tools projects, in case you want to test updating the external deps.

(I'm still having issue #224 with compute-runtime builds when using newer IGC releases though.)

[2022-02-21 12:32] eero-t commented on #228
To me this looks like your CI is missing testing for:
* compilers in the latest distro releases (at least ones becoming next LTS), and
* using external dependencies

When you'll fix the listed build errors, you could also look into improving your CI testing coverage in this respect (distro coverage needs occasional CI updates, external dep testing hopefully not).

[2022-02-23 10:01] mnaczk commented on #228
Thanks for your feedback. We upgrade our open-source CI infrastructure. List of changes bellow:

- Add IGC build by gcc with LLVM 12 on Ubuntu20.04
- Add IGC build by gcc with LLVM 12 on Ubuntu22.04
- Add IGC build by gcc with LLVM 13 on Ubuntu22.04
- Add IGC build by clang with LLVM 12 on Ubuntu20.04
- Remove IGC build by clang with LLVM 10 on Ubuntu18.04
- Remove IGC build by clang with LLVM 11

[2022-02-23 12:43] eero-t commented on #142
FYI: vc-intrinsics project has now its first tag (v0.1.0).

[2022-02-23 13:45] eero-t commented on #228
Commit 4369c97 looks OK [1], but missed the new "igc-1.0.10395" IGC release.  With the CI updates, it should fine, so I'll wait until (next) release containing the fix, before testing and closing this.

[1] "visa/LocalScheduler/SWSB_G4IR.cpp" issue that I was seeing, was fixed in earlier 4f510460 commit, so I wonder why I did not bump into limits header missing also from "visa/iga/IGALibrary/IR/SW

[2022-02-23 22:19] pszymich commented on #225
We have run wide testing scope for LLVM 12. There are some regressions associated with the upgrade we will need to address before the switch. Our testing scope includes i.a. Khronos' OpenCL-CTS tests. ETA is hard to gauge unfortunately.

A question: would it benefit distro maintaners, if alongside regular releases there were IGC packages published built against LLVM 12 (even if not production read

[2022-02-23 22:20] pszymich commented on #219
@agrachiv can you provide an updated ETA? Thanks

[2022-02-23 22:23] pszymich commented on #142
A commit adding support for prebuilt/preinstalled VC intrinsics package has been merged recently: https://github.com/intel/intel-graphics-compiler/commit/35c947c2631ef4948532eb65c4a62434a580dd3d
Thank you @StepanMishura!

Please verify if that solves the problem. Thanks!

[2022-02-24 09:46] eero-t commented on #225
Distro maintainers do builds using pre-built (pre-packaged) versions of LLVM and other dependencies.  Unless your own builds with newer LLVM versions are similar, I do not think distro maintainers would have much use for them as comparison points.  @tjaalton Any comments on this?

Such builds would make it easier for the community to provide wider testing for IGC versions based on those LLVM versi

[2022-02-24 15:13] eero-t commented on #227
@anbe42 isn't this a duplicate of #204 ?  At least the backtrace seems very similar.

[2022-02-24 15:33] anbe42 commented on #227
@eero-t you are right, that looks like the issue I experienced

[2022-02-24 16:45] eero-t commented on #227
@anbe42 As that older bug has more info about the actual issue, I think you could close this.  Just add your info to that bug.

[2022-02-24 17:18] anbe42 commented on #227
duplicate of #204

[2022-02-24 17:18] #227 closed

[2022-02-25 16:36] eero-t commented on #228
I tried building that IGC release, and yes, that issue was added there.

[2022-02-25 16:38] eero-t commented on #224
Same problem with the new "igc-1.0.10395" release (on top of Ubuntu 20.10 i.e. LLVM 12 + opencl-clang12 + GCC 11) when building "compute-runtime":
[code]

[2022-03-02 13:04] eero-t opened #231 "Provide relevant tag / branch names for dependencies in release notes"
Please refer to most relevant tags in dependecies, similarly to how compute-runtime release notes do.

Motivation for this would be:
* Tags give some indication of whether the dependencies have:
  * Gone through more testing than some random commit
  * Are likely to have API changes
* Dependency versions can be compared against each other (without user needing to do extra detective work in git rep

[2022-03-02 16:14] eero-t commented on #231
Sure. For those, I was suggesting adding the branch name to the commit information.  While one can deduce that from the used LLVM version, IMHO it would still be nice to mention that IGC built with LLVM 11 uses commit "50bf6d7" from "ocl-open-110" branch, and LLVM-SPIRV-Translator commit "cf681c8" from "llvm_release_110" branch.

(I'm assuming you can easily automate such part of release notes gen

[2022-03-03 08:54] tgurr opened #232 "Failure to find external SPIRV-LLVM-Translator include"
When relying on CMake/pkg-config SPIRV-LLVM-Translator isn't found at all:

[code]

When trying to manually pass relevant CMake options like:

[code]

igc fails to build with:
[code]

CMakeCache.txt from build directory:
[code]

Additional information:
[code]

[code]

[code]

[2022-03-03 11:54] tgurr commented on #232
The following appears to at least work around the issue (for me):

CMake Options:
[code]
Code changes:
[code]

[2022-03-03 12:02] tgurr opened #233 "(External) Protobuf dependency"
While building with metrics appears to be optional, it doesn't seem to be the case for compute-runtime-22.08.22549 where I get:

[code]

So for the actual problem, igc can't find protobuf installed system-wide printing the following warning during build:

[code]
https://github.com/intel/intel-graphics-compiler/blob/master/documentation/build_ubuntu.md doesn't even mention protobuf at all, neither

[2022-03-03 12:57] tgurr commented on #232
Further testing showed that passing the following CMake options

[code]
also seem to be enough.

While it's unfortunate it doesn't work out of the box with plain pkg-config (even when trying to pass the additional search location `/usr/x86_64-pc-linux-gnu/lib/llvm/13/lib/pkgconfig` as stated above I'm closing the issue as with the correct CMake options it's possible to build without any further ch

[2022-03-03 12:57] #232 closed

[2022-03-03 17:25] lwesiers commented on #233
The issue here:
https://github.com/intel/compute-runtime/blob/5d80d509554921d6d953f7f9c290d6cff0d6ef90/cmake/find_metrics.cmake#L78
[code]

Isn't related in any case with missing protobuf and IGCMetrics.

I suggest to contact folks from https://github.com/intel/compute-runtime, because this is not IGC issue.

[2022-03-03 17:25] #233 closed

[2022-03-04 12:12] pszymich commented on #231
Hi, we've updated the release notes in the latest release with requested changes: https://github.com/intel/intel-graphics-compiler/releases/tag/igc-1.0.10409

SPIRV-Tools/Headers will be changed to tags in some future release. We made the change to tags in our CI quite recently, so it needs some time to catch up with release cadence.

Thanks!

[2022-03-04 12:12] #231 closed

[2022-03-04 12:48] eero-t commented on #231
The new release notes dependency table looks great, thanks!

[2022-03-04 23:05] ArchangeGabriel commented on #228
@eero-t Both of your issues have had PR for ages: https://github.com/intel/intel-graphics-compiler/pull/210 and https://github.com/intel/intel-graphics-compiler/pull/220. The second one is now merged as you have seen. Please confirm the first one fix your other issue.

[2022-03-04 23:10] ArchangeGabriel commented on #219
Is that why https://github.com/intel/intel-graphics-compiler/pull/230 was closed? It has been merged internally instead?

[2022-03-04 23:18] ArchangeGabriel commented on #228
Actually I realize that #210 is part of https://github.com/intel/intel-graphics-compiler/commit/4369c970d4e02258b3c53e854faaa34197124a33.

[2022-03-04 23:28] ArchangeGabriel commented on #231
@pszymich Thanks! I must say I am very satisfied with the work of your team here lately regarding use of external dependencies (and also grateful to @eero-t for pushing that forward).

[2022-03-04 23:40] ArchangeGabriel commented on #142
Works fine, thanks!

[2022-03-04 23:50] ArchangeGabriel commented on #233
Outside of the compute-runtime issue, there is still the fact that intel-graphics-compiler does not detect a system installed protobuf:
[code]

[2022-03-04 23:57] ArchangeGabriel commented on #142
Actually spoken too fast. While the prebuilt intrinsics gets properly detected, compilation fails with:
[code]
Switching back to sources works.

[2022-03-06 09:10] frantisekz commented on #219
@agrachiv , to be able to use Fedora's system spirv-tools, I had to make this change: #234 , can you take a look at it if it makes sense?

Thanks!

[2022-03-06 22:21] ArchangeGabriel commented on #219
@frantisekz Have you tried #230?

[2022-03-06 23:12] frantisekz commented on #219
Yep, the PR I've created is based on master (which has #230 ). I've tried building the igc with 230 and then 234 applied on the source.

[2022-03-07 20:19] ArchangeGabriel commented on #219
(Right, I missed the fact that #230 was merged as https://github.com/intel/intel-graphics-compiler/commit/d790a8f8571c51aeccac1a320b4fcf7ed71a2a26)

[2022-03-10 10:23] lwesiers commented on #233
IGCMetrics and finding Protobuf  are still WIP - so any issues there are expected. Still, it shouldn't affect the functionality/buildability of the compiler at all.

[2022-03-10 10:50] ArchangeGabriel commented on #233
Yes, just in case that wasn’t clear: I can build both IGC and Neo without trouble. I was just reporting that a system installed protobuf is indeed not detected.

[2022-03-10 11:47] agrachiv commented on #219
Hi! I've checked it out, everything looks all right. I've committed this change into our repo, it will take some time to arrive here.

[2022-03-11 21:35] frantisekz commented on #219
@agrachiv , fyi, it seems the 7e6b78d1ccf5afb4080795aa87029e55b9e5499c pulled the #234 only partially (the -static needs to be removed on two lines to make it work).

[2022-03-17 21:42] ArchangeGabriel commented on #142
Actually I’m facing similar errors with `ispc`, also building with those prebuilt vc-intrinsics:
[code]
Maybe there is something wrong with vc-intrinsics itself actually?

[2022-03-17 22:29] jbeich commented on #142
`igc-1.0.10409` builds fine ([llvm12](http://www.ipv6proxy.net/go.php?u=http://beefy16.nyi.freebsd.org/data/130amd64-default/159bf5bb4c59/logs/intel-graphics-compiler-llvm12-1.0.10409.log), [llvm11](http://www.ipv6proxy.net/go.php?u=http://beefy16.nyi.freebsd.org/data/130amd64-default/159bf5bb4c59/logs/intel-graphics-compiler-llvm11-1.0.10409.log)) on FreeBSD with pre-built vc-intrinsics `v0.1.0`.

[2022-03-17 22:33] ArchangeGabriel commented on #142
Actually the issue was on our (Arch) side. The issue is that we now enable LTO by default, so `vc-intrinsics` needs to be built with `-ffat-lto-objects` to avoid objects being mangled. I’ve just done that and it works (and I guess ispc will work too, looking at that now). So for me this issue can be closed (or maybe once https://github.com/intel/intel-graphics-compiler/commit/35c947c2631ef4948532e

[2022-03-17 22:35] ArchangeGabriel commented on #219
I can confirm that the current trunk + the missing part of #234 works. While trying that, I’ve spotted some typos, so I’ve PR’ed #235 with the remaining part of #234 + fixes for those.

[2022-03-22 11:23] agrachiv commented on #219
Hi, @ArchangeGabriel! Sorry for the delay. I've already merged it, should arrive ere soon.

[2022-03-24 11:57] Brocolli1 commented on #172
After some more investigation, I don't believe this problem reproduces. And I believe it did not reproduce even right after the submission. I believe there was a mistak with the updated value being 2 instead of 42.
![image](https://user-images.githubusercontent.com/48822664/159911079-b847b31c-b75c-4132-b095-3ead86e61d44.png)
What is interesting is that the files in the repo had 2 functions: dummy

[2022-03-24 12:58] ArchangeGabriel commented on #219
Indeed, I see that you authored acfa99b5aefbebf037e4c939f5a8e592dfaed04e. Not part of the latest release, but should be part of the next one, but that’s the only patch to backport. All-in-all, these have been amazing progress in IGC lastly, so that we can now build fully from external copies. :)

[2022-03-24 12:58] ArchangeGabriel commented on #142
This is now part of the latest release, so should be considered for closing. ;)

[2022-03-24 13:01] #142 closed

[2022-03-24 13:02] pszymich commented on #219
Thanks @agrachiv, @ArchangeGabriel!

Closing for now, please reopen or resubmit a ticket if any issues arise.

[2022-03-24 13:02] #219 closed

[2022-03-24 13:26] maleadt commented on #172
Really? Quoting my report:

0 != 2, so even while it wasn't 42 as in the other, functional test case, that does not yield the report invalid.

Well, yeah, the `dummy_original` version stores 42 to a plain pointer, while `dummy` does the `inttoptr`. That's pretty obvious from the IR from https://gist.github.com/maleadt/8041818a1eb927826469c09d6b288c44#file-kernel-ll, no?

Anyway, the good news is t

[2022-03-24 13:26] #172 closed

[2022-03-24 13:39] Brocolli1 commented on #172
Well, what I meant is that in this example https://github.com/intel/intel-graphics-compiler/issues/172#issuecomment-692630492 you show updating to 2 as reproducing (assertion out[i] == 42 failing) . So I believe at this point it was already not reproducing - the assertion was doomed to fail.

Anyway thanks for your quick feedback.

[2022-03-24 13:52] maleadt commented on #172
Yeah fair enough, the assertion was definitely wrong, so the C++ reproducer was doomed. Happy it is resolved now though, and thanks for having another look.

[2022-03-27 22:02] ConiKost opened #236 "Compiling with enabled vc-intrinsics causes segfaults"
If I do compile newest IGC release with enabled vc-intrinsics, compilation fails due segfaulting. Using LLVM 13.

[code]

[code]

[2022-03-28 06:04] zboszor commented on #204
LLVM 14 was also released.

[2022-03-28 08:21] pszymich commented on #236
Hi @ConiKost,
At what revision do you have vc-intrinsics checked out?

[2022-03-28 10:45] ConiKost commented on #236
Hi @pszymich,
I am using the 0.1.0 release, which is available here: https://github.com/intel/vc-intrinsics/tags

[2022-03-28 11:06] pszymich commented on #236
And what exact revision is LLVM?

We are verifying IGC against LLVM 13.0.0 and it's been building successfully: https://github.com/intel/intel-graphics-compiler/runs/5713751924. However, latest LLVM13 revision is 13.0.1 as of now.

@mnaczk, can we have [build scripts ](https://github.com/intel/intel-graphics-compiler/blob/master/scripts/buildIGC.sh#L64) updated to released 13.0.1?

[2022-03-28 11:21] ConiKost commented on #236
LLVM 13.0.1. I will have to lookup, if there are custom patches.

I would like to point out, that I am also using ```-DIGC_OPTION__VC_INTRINSICS_MODE="Prebuilds"``` for adding vc-intrinsics externally installed. Maybe this makes some difference?

[2022-03-28 11:29] pszymich commented on #236
It shouldn't but verifying with vc-instrinsics built alongside IGC shouldn't take much time. Could you have a try with `-DIGC_OPTION__VC_INTRINSICS_MODE="Source"`?

[2022-03-28 18:29] ConiKost commented on #236
As expected, it segfaults again. Tried now with Source option.

[code]

[2022-03-29 17:09] eero-t commented on #228
Verified that the latest release contains the fixes => Closing.

[2022-03-29 17:09] #228 closed

[2022-03-29 17:16] eero-t commented on #224
@pszymich, could somebody take a look at this?

Same months old build regression happens also with the new "igc-1.0.10778" release and latest compute-runtime release "22.12.22749", on all Ubuntu releases with new enough LLVM / opencl-clang version:
* Ubuntu 21.04: LLVM 11 + opencl-clang11 + GCC 10.3
* Ubuntu 21.10: LLVM 12 + opencl-clang12 + GCC 11.2
* Ubuntu 22.04: LLVM 13 + opencl-clang13 + GCC

[2022-03-31 10:50] frantisekz commented on #204
@pszymich sorry for plainly asking, is this planned to be worked on? Do you have any rough estimates? Unfortunately, reverting the offending LLVM 13 change is a no go for Fedora, so compute-runtime support in Fedora depends on this issue.

[2022-04-02 15:16] ArchangeGabriel opened #237 "Linking failure (due to -Werror) with LTO"
When compiling with LTO, the build fails like this:
[code]

[2022-04-05 07:23] jike212 commented on #204
Just wanted to echo @frantisekz to see if there might be a timeline for resolution on this. It would be great to see this in time for Fedora 36 particularly given that large hardware vendors like Lenovo offer Fedora as a supported OS installed out of the box.

[2022-04-05 15:37] tjaalton opened #238 "Typo: 'Enivronment'"
git grep -c Enivronment
IGC/AdaptorOCL/OCL/KernelAnnotations.hpp:1
IGC/AdaptorOCL/OCL/sp/sp_g8.cpp:53
IGC/AdaptorOCL/OCL/sp/zebin_builder.cpp:31
IGC/Compiler/CISACodeGen/OpenCLKernelCodeGen.cpp:39
IGC/Compiler/CodeGenPublic.h:1
IGC/VectorCompiler/igcdeps/include/vc/igcdeps/cmc.h:1
IGC/VectorCompiler/igcdeps/src/cmc.cpp:4

surely it's meant to be 'Environment'?

[2022-04-07 17:25] ConiKost commented on #236
Still happens with newest release :-(

[2022-04-12 15:26] eero-t opened #239 "Build error: "intrinsic is unsupported by target platform <PVCXT_A0>, enable legacy intrinsics translation""
Building latest IGC release "igc-1.0.10840" with latest vc-intrinsics "v0.1.0" tag fails:
[code]
(This using LLVM 12 / GCC 11 on Ubuntu 21.10 where those are the defaults.)

I noticed that release binaries are using newer vc-intrinsics commit. If latest vc-intrinsics tag is too old for latest IGC one, please make sure new enough commit of vc-intrinsics project gets tested and tagged.

Other altern

[2022-04-20 11:24] mnaczk commented on #224
Hi @eero-t

Starting with the commit [3fde0acae81b48b5225e1760e1feb9ae44ccdbb2: remove spirvdll](https://github.com/intel/intel-graphics-compiler/commit/3fde0acae81b48b5225e1760e1feb9ae44ccdbb2)
The vector compiler starts using the Khronos LLVM-SPIRV translator, which is shared with the OpenCL clang. So the libLLVMSPIRVLib.so file used by OpenCL-clang and Vector Compiler must be the same.

In your

[2022-04-21 17:54] eero-t commented on #224
@mnaczk I tried using Ubuntu 21.10 spirv-llvm/-dev, spirv-tools and spirv-headers, but then IGC configuration failed to it not finding spirv-tools:
[code]
FYI: "spirv-tools" package file paths are following: https://packages.ubuntu.com/impish/amd64/spirv-tools/filelist

When I added sources back for SPIRV tools & headers, IGC config phase passed, but then its build failed to vc-intrinsics issues #

[2022-04-21 18:00] eero-t commented on #239
@mnaczk Is newer version of vc-intrinsics than v0.1.0 (latest tag/release) needed by IGC now?

If yes, why there's no new tag (i.e. what failed in IGC release process), and could some newer (tested/working) commit be tagged?

PS. "igc-1.0.10988" release suffers from the same issue.

[2022-04-21 19:28] ArchangeGabriel commented on #239
@eero-t You know the answer, as you stated a newer commit is required and in fact [the one linked](https://github.com/intel/vc-intrinsics/commit/99ac111c2604a47d865bd4d7996be8cfaf2af146) exactly adds support for PVCXT_A0.

So the only question is how they decided to handle things w.r.t. vc-intrinsincs tagging, which apparently is “not really”.

[2022-04-22 08:42] mnaczk commented on #239
@eero-t All necessary dependencies for specific IGC releases can be found in the release note.
For example for igc-1.0.10840 the release note https://github.com/intel/intel-graphics-compiler/releases/tag/igc-1.0.10840 section "Dependencies revisions" mention that recommended vc-intrinsics commit is [99ac111](https://github.com/intel/vc-intrinsics/commit/99ac111c2604a47d865bd4d7996be8cfaf2af146)

A

[2022-04-22 11:15] mnaczk commented on #224
@eero-t The error log point that issue is on resolving CMake files. /usr/lib/x86_64-linux-gnu/cmake/SPIRV-Tools/SPIRV-ToolsTarget.cmake want libSPIRV-Tools-shared.so but it not exist in package https://packages.ubuntu.com/impish/amd64/spirv-tools/filelist. So the issue probably is not on the IGC side.

I mentioned in #239 that vc-intinsics should be checkout to a specific commit described in the I

[2022-04-22 21:28] vmustya commented on #239
Hi folks,

I have marked the https://github.com/intel/vc-intrinsics/commit/99ac111c2604a47d865bd4d7996be8cfaf2af146 commit with v0.2.0 tag. Please try it.

@mnaczk, could you please update release notes for igc-1.0.10840 and igc-1.0.10988 to point to v0.2.0 vc-intrinsics tag instead of commit ID?

[2022-04-22 21:41] vmustya commented on #236
@ConiKost, could you please try https://github.com/intel/vc-intrinsics/releases/tag/v0.2.0 ?

[2022-04-25 09:39] eero-t commented on #239
@ArchangeGabriel I hadn't noticed that, but I indeed should have... Happily there was already a ticket in right place: https://github.com/intel/vc-intrinsics/issues/107

@mnaczk  If you want to discuss need for vc-intrinsics tagging, and listing those in IGC release notes, the relevant tickets are:
* https://github.com/intel/vc-intrinsics/issues/36
* https://github.com/intel/intel-graphics-compile

[2022-04-25 09:39] #239 closed

[2022-04-25 09:50] eero-t commented on #224
@tjaalton  Any comment on why Ubuntu "spirv-tools" package provides only static version of the tools library, and not the shared one required by IGC?

@mnaczk Yes, indeed it works fine now. Thanks!

IMHO you could add some note (to Ubuntu build docs) about which all components need to either come from the system, or be _all_ built from sources, and for which components you do not support use of sy

[2022-04-25 09:50] #224 closed

[2022-04-25 09:54] mnaczk commented on #238
Thanks, @tjaalton for your suggestion. Suggestion merged in [072bac565cfd0642d982948ace8a20b520227bd3](https://github.com/intel/intel-graphics-compiler/commit/072bac565cfd0642d982948ace8a20b520227bd3)

[2022-04-25 09:56] pszymich commented on #238
Thanks @mnaczk, closing.

[2022-04-25 09:56] #238 closed

[2022-04-25 09:59] tjaalton commented on #224
https://github.com/KhronosGroup/SPIRV-Tools/issues/3909
that pretty much sums it up, especially https://github.com/KhronosGroup/SPIRV-Tools/issues/3214 which was referenced in the Debian bug https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=980370

[2022-04-27 10:37] alucryd opened #240 "clang-tool: command not found"
Hi guys, I'm trying to build the latest release from source with everything in-tree. I've set up my workspace following the documentation. One particularity I have is that I use a local toolchain instead of my system tools because I want to produce generic binaries with an older glibc, so even if I'm on the same architecture, I'm technically cross-compiling, and IGC rightfully thinks so.

Even tho

[2022-04-27 10:58] pszymich commented on #240
Hi @alucryd,

Can you try adding `-DCCLANG_BUILD_INTREE_LLVM=1 -DLLVM_ENABLE_PROJECTS=\"clang\"` CMake flags to your configuration config?

[2022-04-27 18:05] jbeich opened #241 "-DIGC_OPTION__SPIRV_TOOLS_MODE=Prebuilds fails unless SPIRV-Tools built with -DSPIRV_TOOLS_BUILD_STATIC=OFF"
Regressed by 7e6b78d1ccf5 + acfa99b5aefb. Affects at least FreeBSD which relies on upstream defaults instead of blindly forcing shared linking against a library with unstable ABI.

<details><summary>-DSPIRV_TOOLS_BUILD_STATIC=OFF package content diff</summary>

[code]
</details>

[code]

[2022-04-27 18:21] jbeich commented on #241
`SPIRV-Tools-static` vs. `SPIRV-Tools` seems to be caused by https://github.com/KhronosGroup/SPIRV-Tools/issues/3909

[2022-04-27 19:13] alucryd commented on #240
Thanks for the suggestion. I already had the first param but not the second one. It didn't help though unfortunately. Also symlinking my system clang to clang-tool didn't work as expected.

[2022-04-27 19:53] ArchangeGabriel commented on #241
Similar to what was discussed in https://github.com/intel/intel-graphics-compiler/issues/224#issuecomment-1108352883. Thing is currently it seems to be impossible to support both static and shared? And Arch only has shared for instance.

[2022-04-28 16:50] janhenke commented on #204
Gentoo also removed LLVM 11 from the distribution this week and LLVM 13 is the current default version. This bug has hit multiple users (including myself). It would be rather important to get this one fixed, as even a plain `clinfo` call leads to a segfault now. Downstream bug: https://bugs.gentoo.org/837872

[2022-04-28 18:14] eero-t commented on #204
@janhenke Is there a problem also with LLVM 12, or does it work as intermediate solution?

It's marked as working, but not tested by compute-runtime project as well as LLVM 11: https://github.com/intel/intel-graphics-compiler/projects/2

In my own light testing of my own LLVM 12 build, it worked OK too.

[2022-04-28 18:41] janhenke commented on #204
We jumped directly from 11 to 13, so I do not have any test results from 12. As well as some parts of the stack based on LLVM also got removed already. Anyway getting it to work on 13 is rather urgent, as some distributions are following LLVM releases rather closely and keep at most 2-3 releases in their repos (Gentoo is already working towards removing LLVM 12 as said above).

[2022-04-28 21:32] rathann commented on #204
FWIW, LLVM 14 is already in the soon-to-be-released Fedora 36.

[2022-04-29 08:19] eero-t commented on #204
I wonder whether it makes sense for compute-runtime to skip every other LLVM release, and concentrate support only e.g. to odd numbered LLVM releases (11, 13, 15...).   Any comments on this from the distro perspective, and from compute-runtime developers?

[2022-04-29 09:46] ConiKost commented on #236
I am also getting those segfaults with LLVM-12.

[code]

[2022-04-29 10:36] rathann commented on #204
From Fedora perspective, we are tracking the latest LLVM releases. While it's possible to maintain a compatibility package with the previous version, having the compute-runtime link against older version might cause trouble if the application using it is linked against the latest LLVM libraries (i.e. you get two different LLVM runtimes loaded in the same process).

[2022-04-29 12:20] jbeich commented on #204
May not help as each distro has different update cadence. For example, LTO in Firefox requires LLVM bundled in Rust compiler to match Clang version. As of Firefox 101 this means Rust 1.60 (LLVM 14), see https://bugzilla.mozilla.org/show_bug.cgi?id=1758780

On FreeBSD we support LLVM back to 8.0.1, so IGC as a downstream package exist for both LLVM 11 and LLVM 12. While IGC claims to support LLVM <

[2022-04-29 12:31] eero-t commented on #236
...

...

@ConiKost Are you sure everything LLVM related (llvm, liblld, llvm-spirv*, clang, opencl-clang) is built/using same version?  E.g. Vector compiler and OpenCL-Clang need to be built with same libllvmspirv, with all of them using same LLVM version.  See: https://github.com/intel/intel-graphics-compiler/issues/224#issuecomment-1103820725

FYI: build works fine for me when using:
* Ubuntu 21

[2022-04-29 18:04] eero-t commented on #240
What is "clang-tool"?  There does not seem to be any such thing in whole Ubuntu (and IGC builds fine with Ubuntu system clang): https://packages.ubuntu.com/search?searchon=contents&mode=&suite=impish&arch=any&keywords=clang-tool

There's clang-tools package, but even that does not contain binary called clang-tool: https://packages.ubuntu.com/impish/amd64/clang-tools-12/filelist

[2022-04-29 20:55] ConiKost commented on #236
Yes, this is the case. All stuff is build with LLVM-12.

I have:
* sys-devel/gcc-11.3.0
* sys-devel/clang-12.0.1
* sys-devel/llvm-12.0.1
* sys-devel/lld-12.0.1
* dev-util/spirv-llvm-translator-12.0.0
* dev-libs/opencl-clang-12.0.0

Sources from following git tags:
* media-libs/gmmlib-21.1.2
* dev-util/spirv-headers-1.3.211
* dev-util/spirv-tools-1.3.211-r1
* dev-libs/intel-vc-intrinsics-0.3.0
* de

[2022-04-30 09:35] alucryd commented on #240
Yeah, it seems to be an alias created in the IGC build system, probably to avoid conflicting with system clang, but the problem is this clang aka clang-tool is never actually built.

[2022-04-30 15:30] softworkz commented on #240
@eero-t

References to clang-tool:

https://github.com/intel/intel-graphics-compiler/blob/77af69c509916dfaefb1d7fa4549492824ecf606/IGC/cmake/igc_find_opencl_clang.cmake#L97

https://github.com/intel/intel-graphics-compiler/blob/9451137bbb5dd021432fa6944c7528211866619e/IGC/VectorCompiler/lib/BiF/CMakeLists.txt#L92

https://github.com/intel/intel-graphics-compiler/blob/9451137bbb5dd021432fa6944c7528

[2022-04-30 17:16] ConiKost commented on #204
In Gentoo, we have an approch of slotted versions, which means, someone can install independently multiple major versions of LLVM and Clang, which all can co-exist. But maintainers will drop older version. We currently have LLVM12 as lowest version, but in future, this one will be dropped.. LLVM11 just got dropped two weeks ago. So LLVM13 support would be very appreciated.

[2022-05-19 04:15] anujm1 commented on #204
I don't see this with the latest commits on master. Perhaps fixed by https://github.com/intel/intel-graphics-compiler/commit/73a32f051a881fa89822e888221ec2bfea31f730 and https://github.com/intel/intel-graphics-compiler/commit/84e9ea6e0cb70bb9468fa86003b89f84ddf67997 ?

[2022-05-19 07:47] zboszor commented on #204
It certainly seems so. There is no tagged release yet containing those commits, though.
Hopefully it will work with LLVM 14.0.x and 15, too.

[2022-05-20 16:22] ArchangeGabriel opened #243 "Changes in FindSPIRVLLVMTranslator.cmake fail build on Linux with external spirv-llvm-translator"
These changes were introduced by https://github.com/intel/intel-graphics-compiler/commit/afd9fc8be5e507ccfd24d1e5b4da4d2e05c671ff.

It now seems to look for some debug version that we don’t have, at least on Arch Linux. Please either tell us how to achieve such a build or make this change Windows only (as this seems the reason for the change) or somehow accepting both configurations.

[2022-05-21 13:15] ConiKost commented on #236
While LLVM13 seems fixed and works with current git master, it still fails with vc-intrinsics enabled.

[2022-05-23 18:30] ArchangeGabriel commented on #243
Hi, I indeed catched that commit since I was surprised people could build from git master y-day. ^^

I can thus confirm it perfectly works, both in master as well as on top of the current release.

I think this ticket should remain open until the commit is part of a release to avoid duplicate tickets from other users/packagers.

[2022-05-24 13:38] eero-t commented on #243
There was "igc-1.0.11279" release few hours ago, but unfortunately that's from commit on 11th, while the fix went in on 13th.  So I guess it's in the next release.

[2022-05-24 13:44] eero-t commented on #225
As there's work in progress to get LLVM 14 working: https://github.com/intel/intel-graphics-compiler/pull/242

Maybe an entry could be added to projects also for LLVM 14?

[2022-05-29 01:23] oscarbg opened #244 "intel-igc-opencl_1.0.11279_amd64.deb package broken?"
can reupload?
seems is broken..
I tried multiple downloads..

sudo dpkg -i intel-igc-opencl_1.0.11279_amd64.deb
(Leyendo la base de datos ... 628037 ficheros o directorios instalados actualmente.)
Preparando para desempaquetar intel-igc-opencl_1.0.11279_amd64.deb ...
Desempaquetando intel-igc-opencl (1.0.11279) ...
dpkg-deb (subproceso): decompressing archive 'intel-igc-opencl_1.0.11279_amd64.deb'

[2022-05-30 04:11] powderluv commented on #244
The sha256sum of the package also fails

[code]

[2022-05-30 04:22] powderluv commented on #244
looks like the data.tar.gz in there is corrupt

[code]

in prior releases you see:
[code]

[2022-05-30 13:00] pszymich commented on #244
Hi, the package has been reuploaded. Thanks for spotting the error!

[2022-05-30 13:00] #244 closed

[2022-05-30 13:11] pszymich commented on #229
Hi, your list has been addressed in this commit: 2d0db8a0506911e3f3e21df96591c95a0774b11b Thanks!

As for the `half` question - using `halfs` is okay, since we understand it as "half data types", "half data fields" etc. not literal halves of an entity 😉

[2022-05-31 09:03] pszymich commented on #128
Hi, I'm closing this due to no response from the reporter. Please reopen if it's still an issue. Thanks.

[2022-05-31 09:03] #128 closed

[2022-05-31 09:39] pszymich commented on #236
Hi @ConiKost,

I compiled IGC just fine on these revisions:
[code]

Can you confirm the problem is still occuring?

[2022-05-31 09:57] pszymich commented on #204
Fixed in latest commits, closing.

[2022-05-31 10:20] pszymich commented on #225
Hi @eero-t, I've made some updates to the project page. Thank you for the suggestions!

[2022-05-31 10:20] #225 closed

[2022-05-31 10:48] #207 closed

[2022-05-31 11:27] maleadt commented on #128
I was looking into this **2 years ago**, I don't think it's reasonable to ask people to basically debug an issue over again after first ignoring them for such a long time.

[2022-05-31 15:16] eero-t commented on #225
Ok, so LLVM 12 & 13 both work now, but will remain at Beta support, and 14 will be the next production supported version after 11 (once support for it lands).

Thanks for the update!  => closing.

[2022-06-01 22:44] ConiKost commented on #236
Yes, I can confirm, that using your exact specified versions still reproduced the problem here.

[2022-06-02 08:28] pszymich commented on #236
Can you specify what do you mean by "enabling vc-intrinsics"? Compiling this module is enabled by default.
Also, please share your exact CMake & build program command. Thanks

[2022-06-02 13:49] eero-t commented on #206
Everything in the whole stack needs to  be using same LLVM + LLVM-SPIRV-Translator + OpenCL-Clang version. Otherwise things break subtly or not so subtly (as I found out in another bug).

[2022-06-07 13:41] mnaczk commented on #221
Hi, I tried to reproduce your issue but on the newest NEO Runtime Release, I get all 6 kernels' names displayed. Can you check again your issue on the newest NEO runtime release https://github.com/intel/compute-runtime/releases/tag/22.22.23355 ?

Below I listed steps that I use for reproduction.

- mkdir neo && cd neo
- wget https://github.com/intel/intel-graphics-compiler/releases/download/igc-1.

[2022-06-08 12:55] mnaczk commented on #208
Sorry for the late response. Could you please provide reproduction steps?

[2022-06-11 22:24] ConiKost commented on #236
Yes, this means, I am setting this CMake options:
```-DIGC_BUILD__VC_ENABLED="ON"```
```-DIGC_OPTION__VC_INTRINSICS_MODE="Prebuilds"```

[code]

[2022-06-13 10:52] eero-t commented on #243
@ArchangeGabriel I think you can close this.  Fix is included to latest "igc-1.0.11378" release and it builds fine for me.

[2022-06-13 14:55] mnaczk commented on #241
According to commit https://github.com/KhronosGroup/SPIRV-Tools/commit/6aed7ffbc7bd42d292db10a800ec05954a5b7147
SPIRV-Tools should be built primarily as a static lib but could be also built as shared lib depending on flag BUILD_SHARED_LIBS. In both cases, it should create target ${SPIRV_TOOLS} which should be an alias to a suitable target (static or shared).

The flag SPIRV_TOOLS_BUILD_STATIC in i

[2022-06-13 15:06] mnaczk commented on #206
As @eero-t mentioned IGC needs the same LLVM in the whole stack. If you use a different version of LLVM for different components of IGC, we can not guarantee that this will work, and we also cannot guarantee gentle failing. (LLVM per version has no compatible API)
Do you use the same LLVM version in the whole stack?

[2022-06-13 15:12] mnaczk commented on #162
Thanks to the CPP reproducer. https://github.com/intel/intel-graphics-compiler/issues/162#issuecomment-692715577
I was able to reproduce the error on NEO release [20.34.17727](https://github.com/intel/compute-runtime/releases/tag/20.34.17727)
On the newest NEO release [22.23.23405](https://github.com/intel/compute-runtime/releases/tag/22.23.23405) issue is not reproducible anymore. CPP reproducer

[2022-06-13 15:17] mnaczk commented on #213
A new commit with the fix proposition was merged with the repo. https://github.com/intel/intel-graphics-compiler/commit/7f14252fbe21324d0c777e6442f4b7d6d6718f4c @rcombs Could you please check if this solves the issue?

[2022-06-13 15:55] rcombs commented on #213
Looking at the new code:
[code]
This checks the glibc behavior, but doesn't check that glibc is _in use_. You need to add a check for `__GLIBC__ `:
[code]
This way, other libc implementations will get the standard behavior regardless.

[2022-06-13 21:42] jbeich commented on #213
7f14252fbe21 breaks build on FreeBSD:
[code]

Checking `_POSIX_C_SOURCE`, `_XOPEN_SOURCE` or `_GNU_SOURCE` makes no sense as those are reserved for application code but IGC doesn't define them.
[code]

It would break libc++ (`CXX=clang++` + `CXXFLAGS=-stdlib=libc++`):
[code]

Defining `_GNU_SOURCE` wouldn't help because it's not supported. On BSDs all features are exposed by default. Cheating stan

[2022-06-14 19:33] #243 closed

[2022-06-15 11:59] mnaczk commented on #236
I have tried to reproduce the error with the CMake command that you provided, but encountered a few unknowns.
-	How do you produce/provide prebuilds for
--       LLVM
-- 	  LLD
-- 	  Clang
-- 	  OpenCL-clang
-- 	  KHRONOS_SPIRV_TRANSLATOR
-- 	  SPIRV_TOOLS
-	Are you sure that all provided prebuilds are based on the same LLVM version.
-	Hard-coded linking to specific libs and headers may cause unpr

[2022-06-16 15:01] #221 closed

[2022-06-19 21:05] mnaczk commented on #213
The next fix proposition was merged with the repo. https://github.com/intel/intel-graphics-compiler/commit/b1adbfe219b05fe5357353ee6f8e2b66e0675f20 @rcombs and @jbeich Could you please check if this solves the issue?

[2022-06-19 21:22] jbeich commented on #213
Still fails on FreeBSD:
[code]

[2022-06-19 21:48] rcombs commented on #213
You need `if constexpr` to avoid that.

[2022-06-20 08:20] mnaczk commented on #240
No submitter response for the last 2 weeks. @alucryd If the issue still exists, please reopen the issue.

[2022-06-20 08:20] #240 closed

[2022-06-21 08:34] mnaczk commented on #213
Thanks @rcombs for the suggestion, @jbeich Did commit https://github.com/intel/intel-graphics-compiler/commit/37590986a64f1a5dd14e93a5beb1dbb46049b9d1 fix the building crash on FreeBSD?

[2022-06-21 12:51] jbeich commented on #213
No, `if constexpr` didn't help. `igc-1.0.11378-160-gec864ca53` still fails:
[code]
[code]

[2022-06-22 09:21] mnaczk commented on #208
No response from the submitter. I'm closing the issue. If the problem persists please reopen the issue.

[2022-06-22 09:21] #208 closed

[2022-06-22 10:43] mnaczk commented on #211
Issue resolved by commit https://github.com/intel/intel-graphics-compiler/commit/78db6ad5b66839715665bd44bef745234d354511
Thanks @dreifachstein for detecting the problem.
Thanks to @Quetzonarch and @jgu222 for the solution.

[2022-06-22 10:43] #211 closed, assigned to nobody

[2022-06-24 09:07] mnaczk commented on #213
Next fix proposal https://github.com/intel/intel-graphics-compiler/commit/d5231d0dbb097ec8a1de070f60ce58afecf2f5bf @jbeich Did this commit fix build break on FreeBSD?

[2022-06-27 00:18] foutrelis opened #245 "[LLVM 14] ocloc crash when building compute-runtime"
One of the `ocloc` commands that crashes:

[code]

Running it under gdb shows this backtrace:

[code]

Looking around in gdb it appears that `hasByValAttr` is called on an invalid instance:

[code]

The index value of 5 comes from the `count` variable near the start of `COpenCLKernel::CreateKernelArgInfo`:

[code]

Therefore, my conclusion is that the code is trying to access the 6th element of `e

[2022-06-27 06:11] mnaczk commented on #163
Thanks, @maleadt for spotting the issue. The commit https://github.com/intel/intel-graphics-compiler/commit/c389eb9c7b518fde6ceba9b4e47b39599782b529 add the error message if we get unsupported type as Kernel argument.

[2022-06-27 06:11] #163 closed

[2022-06-27 06:12] #162 closed

[2022-06-27 06:18] mnaczk commented on #206
I am closing the issue due to the lack of response from the submitter. @kurapov-peter If the problem still exists please reopen the issue

[2022-06-27 06:18] #206 closed

[2022-06-28 07:16] maleadt commented on #162
Removing my workaround still results in miscompilations (tested using NEO 22.25.23529). I don't have the time to investigate further now, I'll report back when I've had a look.

[2022-06-28 08:54] ArchangeGabriel commented on #237
Some new ones:
[code]
I’ll disable the erroring in order to try to get all of them.

[2022-06-28 09:12] ArchangeGabriel commented on #237
Just another one:
[code]

[2022-06-28 09:16] ArchangeGabriel opened #246 "[LLVM14] getElementType() is deprecated"
When compiling latest release under LLVM14, we get dozens of `warning: ‘llvm::Type* llvm::PointerType::getElementType() const’ is deprecated: Pointer element types are deprecated. You can *temporarily* use Type::getPointerElementType() instead [-Wdeprecated-declarations]` (we had to `-Wno-error` them in order to compile).
Example:
[code]

[2022-06-28 09:42] ArchangeGabriel opened #248 "[1.0.11485] Issue with BiF caching"
When trying to configure this release, it fails right away:
[code]
Reverting https://github.com/intel/intel-graphics-compiler/commit/fe97e18b30238eedab0760f92edfbbae5b4413b5 works.

[2022-06-28 09:44] ArchangeGabriel commented on #248
(And backporting https://github.com/intel/intel-graphics-compiler/commit/7c88c57fa0273334cf873023bf6d374a48862632 does not fixes the issue)

[2022-06-28 10:00] ArchangeGabriel commented on #245
(For the record, it also crashes compilation of darktable opencl kernels)

[2022-06-28 11:33] AGindinson commented on #245
Many thanks for the detailed report! This is indeed LLVM 14 specific (also reproducible with earlier LLVM 14 tags). Apparently, the root cause lies in erroneous SPIR-V generation by OpenCL Clang - kernel functions get duplicated within the SPIR-V module (not the case with pre-LLVM 14).

During SPIR-V -> LLVM translation, the duplicate functions themselves are ignored by the mapping mechanism, howe

[2022-06-28 20:32] AGindinson commented on #245
After debugging the OCL Clang compilation (LLVM -> SPIR-V conversion, to be more exact), I've come to think we're essentially dealing with https://github.com/KhronosGroup/SPIRV-LLVM-Translator/issues/1486.

[2022-06-29 05:35] #213 closed

[2022-06-30 12:35] ArchangeGabriel commented on #248
Thanks, it does fix the issue.

[2022-06-30 12:35] #248 closed

[2022-06-30 20:23] mnaczk commented on #246
Fix proposal: https://github.com/intel/intel-graphics-compiler/commit/49f4d4e3e904179bf3a0b880732b92f8bfb2c64a @ArchangeGabriel Could you check if this commit solves the issue?

[2022-06-30 21:06] ConiKost opened #249 "Please make search for opencl-c.h configurable"
With the latest changes in https://github.com/intel/intel-graphics-compiler/commit/12c99343388eba6e6275856b25e0fa8978585dfb I have some troubles about including ```opencl-c.h```. The build system always assumes, that ```opencl-c.h``` always is one directory upper from executable, when using a system prebuild compiler. This does not apply at least for Gentoo.

```CLANG_EXE_PARENT_DIR``` is being fo

[2022-06-30 22:54] ArchangeGabriel commented on #246
Can confirm, it applies cleanly on top of current release and allows to build without `-Wno-error=deprecated-declarations`.

[2022-06-30 22:54] #246 closed

[2022-07-01 11:19] ArchangeGabriel commented on #245
@AGindinson Since you’ve closed that PR, what’s the plan now? This is blocking llvm upgrade in Arch, so if a temporary work-around could be implemented in IGC while the deeper solution is being investigated, that would help us a lot. ;)

[2022-07-01 11:28] AGindinson commented on #245
@ArchangeGabriel Sorry for holding off the update on the matter. I've already prepared an IGC-level workaround and will link the commit once it's merged.

[2022-07-01 11:30] ArchangeGabriel commented on #245
No worry! It’s a good thing that you’re trying to fix things properly, but it’s great too that there is a coming workaround. :)

[2022-07-01 13:24] #245 closed

[2022-07-01 14:28] ArchangeGabriel commented on #245
@AGindinson Can confirm it fixes this issue. :) There is another one still crashing compute-runtime test suite for which @foutrelis is going to open a new issue soon once he will have the backtrace, but for darktable the current fix seems enough (also cc @frantisekz for https://bugzilla.redhat.com/show_bug.cgi?id=2075944) and will allow us to move on with llvm14 –we lived with tests disabled in co

[2022-07-01 15:04] foutrelis opened #250 "[LLVM 14] failed test when building compute-runtime"
Update: Current IGC master doesn't cause the ocloc crash I originally reported. I have quoted the single failed tests I now experience in the first comment below.

~~The following ocloc command crashes (using igc-1.0.11485 patched for #245):~~

[code]

~~Not sure what to make of the call stack ([ocloc-backtrace.txt](https://github.com/intel/intel-graphics-compiler/files/9029779/ocloc-backtrace.txt

[2022-07-01 15:49] frantisekz commented on #245
Thanks for ping @ArchangeGabriel ; already on the way to the repositories ( https://bodhi.fedoraproject.org/updates/FEDORA-2022-c3e3ae48a9 ) !

[2022-07-05 09:30] maleadt opened #251 "Invalid results passing ByVal ArrayType"
The following LLVM IR, translated to SPIR-V using the Khronos LLVM to SPIR-V translator, results in code that behaves incorrectly:

[code]

[code]

The kernel is a very simple one, reading a byval i8 value and writing it to an output pointer. However, executing the above code does not behave as such, and the input value isn't written to the output pointer. The culprit seems to be the `byval([1 x i

[2022-07-07 15:27] foutrelis commented on #245
@AGindinson Thanks for highlighting subsequent relevant fixes. We definitely want to include them in our IGC package which is built against LLVM 14.

I can still repro #250 (for what it's worth 🐭️).

[2022-07-07 16:14] foutrelis commented on #245
Correction: ocloc doesn't crash when building compute-runtime with current IGC master. I have updated #250 accordingly. The single test failure I'm now seeing may or may not be related to this (closed) issue.

[2022-07-07 16:42] foutrelis commented on #250
Indeed, I was able to build compute-runtime with all tests passing with IGC master + the opencl-clang fix you linked. 🐭

Thanks for your help!

[2022-07-07 16:42] #250 closed

[2022-07-08 06:51] mnaczk commented on #249
We are currently working on a more modern Cmake approach to combining OpenCL-clang and IGC projects. We currently do not want to add another configuration flag. Work on the update is underway when there will be progress on the issue of opencl-c.h, I will let you know in this issue.

[2022-07-08 08:21] zboszor opened #252 "Build failure in meta-intel from Yocto 4.0 kirkstone"
Using IGC commit 64fbde198f1ef44262f29bdeb24ebf59c06d0076 I got this
[code]
See https://github.com/YoeDistro/meta-intel/pull/7

LLVM / CLANG 14.0.6 is used from meta-clang.

[2022-07-08 12:33] mnaczk commented on #251
According to the OneApi documentation https://spec.oneapi.io/level-zero/latest/core/SPIRV.html#kernel-arguments
The kernel argument cannot be OpTypeArray.

In the SpirV code submitted by you:
[code]
It can be seen that the OpTypePointer type is passed to the OpFunctionParameter.
OpTypePointer is supported. However, the Function Parameter Attribute ByVal is also passed.

Based on this documentation

[2022-07-08 13:24] #237 closed

[2022-07-08 13:40] ArchangeGabriel commented on #237
Only the last batch was fixed by this commit, the ones from https://github.com/intel/intel-graphics-compiler/issues/237#issuecomment-1168432408 still remain.

[2022-07-08 13:54] zboszor commented on #252
Thanks, it's fixed with the new VC-intrinsic.

[2022-07-08 13:54] #252 closed

[2022-07-08 19:41] maleadt commented on #251
What's the reasoning for not supporting these, when they're allowed as struct members, and the memory layout is identical?

If unsupported, I'd argue that this should throw an error instead of resulting in silent miscompilation.

[2022-07-09 17:20] ConiKost commented on #249
Thanks!

[2022-07-12 09:18] Pitchiu commented on #237
This was fixed by https://github.com/intel-innersource/drivers.gpu.unified/pull/78626

[2022-07-18 09:23] mnaczk commented on #236
@eero-t you're right, starting now, we'll wait a month for a reply. Thanks for paying attention.

[2022-07-18 13:33] eero-t opened #253 "Latest "igc-1.0.11485" release does not build (regression from previous release)"
### Setup / deps

* Ubuntu 21.10:
  * LLVM 12
  * opencl-clang 12.0.0
  * llvm-spirv 12.0.0
  * GCC 11.2
* GMMlib:
  * intel-gmmlib-22.1.6
* SPIRV Headers / Tools:
  * sdk-1.3.211.0 (or sdk-1.3.216.0)
* vc-intrinsics:
  * v0.4.2 (or v0.5.0)

### Build error

Previous IGC release (igc-1.0.11378) builds fine with this setup, latest (igc-1.0.11485) release fails at config stage to:
[code]

With the p

[2022-07-18 16:09] eero-t commented on #253
Yes, cherry-picking that solves the issue => closing.

Thanks, and sorry for not checking the already solved tickets list first!

[2022-07-18 16:09] #253 closed

[2022-07-20 22:03] ConiKost commented on #236
Sorry, please apologize, but indeed, due holiday and some private stuff, I wasn't able to test further. Could we re-open please? :-)

All stuff is being compiled external and provided as ```Prebuilds``` in config options. What do you want exactly to know? configure/make calls? I can provide them, if you want.

Yes, this is 100% the case. All mentioned stuff is build with exact same LLVM version. C

[2022-07-25 10:47] mnaczk commented on #236
@ConiKost Thanks for the response.

Configure /make calls will be useful. Also, build logs for OpenCL and Clang prebuilds will be useful too.
I tried to reproduce the issue with my own prebuilds but I was unable to reproduce the issue.

I tried to reproduce the issue on Gentoo but I am not familiar with this distribution. So I still will be trying to reproduce the error on Ubuntu.

For now my main

[2022-07-25 11:24] ConiKost commented on #236
Allright, please give me a few days and I will recompile all packages and give you the full build logs and configure/make calls.

[2022-07-25 16:23] FreddieWitherden opened #254 "Inefficient Load Instruction Generation on TGL"
Consider the following SGEMM kernel which computers C = A*B where A is pre-tiled and C and B are row-major.  For the most part the kernel does everything right: SIMD-8 with float4 with all loads and stores being 128b.  Out of our 128 registers, 64 are accumulators.

[code]

With the right local work group size the kernel performs well (~73% of theoretical peak), however, on my 96 EU TGL system per

[2022-07-25 19:05] nirvedhmeshram opened #255 "cannot create target "LLVMSPIRVLib""
It seems like I am having a repeat of this old issue https://github.com/intel/intel-graphics-compiler/issues/141
This is my llvm
[code]
and this is my igc
[code]
I can generate the build files with `-DIGC_OPTION__LLVM_MODE=Prebuilds` but that gives compiler errors and without the flag I get

[code]

[2022-07-25 23:09] ConiKost commented on #236
Here we go.

* LLVM (sys-devel/llvm-14.0.6-r1) [*click me*](https://www.bl4ckb0x.de/files/llvm-14.0.6-r1.build.log.gz)
* LLD (sys-devel/lld-14.0.6) [*click me*](https://www.bl4ckb0x.de/files/lld-14.0.6.build.log.gz)
* Clang (sys-devel/clang-14.0.6) [*click me*](https://www.bl4ckb0x.de/files/clang-14.0.6.build.log.gz)
* OpenCL-clang (dev-libs/opencl-clang-14.0.0) [*click me*](https://www.bl4ckb0x.d

[2022-07-25 23:24] ConiKost commented on #236
And compiling of IGC itself.
* IGC (dev-util/intel-graphics-compiler-1.0.11485-r1) [*click me*](https://www.bl4ckb0x.de/files/intel-graphics-compiler-1.0.11485-r1.build.log.gz)

[2022-07-27 12:44] tgurr opened #256 "[1.0.11485] fails to build: error: 'genx_slm_init' is not a member of 'llvm::GenXIntrinsic'"
[code]

Building against LLVM 13.0.1.

Complete build log:
[intel-graphics-compiler-1.0.11485_build.log](https://github.com/intel/intel-graphics-compiler/files/9198831/intel-graphics-compiler-1.0.11485_build.log)

[2022-07-27 13:14] mnaczk commented on #256
GenXIntrinsic::genx_slm_init intrinsic is introduced in https://github.com/intel/vc-intrinsics/commit/7bcfff9051cabd44cf0691d4f3b7a3ef0cd9789e

If you want to use the IGC with this intrinsic make sure that https://github.com/intel/vc-intrinsics contains the above commit.
If the problem persists despite updating https://github.com/intel/vc-intrinsics, please let me know.

[2022-07-27 16:38] tgurr commented on #256
Thanks and sorry for the noise, I probably was in the wrong browser tab when comparing the versions for the relevant dependencies from an older version to 1.0.11485 and additionally got wrongly confimed when looking at the vc-intrinsics repository and seeing 0.3.0 is still tagged as "Latest"  and thus the latest version shown on the front page:

![vc-intrinsics](https://user-images.githubuserconte

[2022-07-27 16:38] #256 closed

[2022-07-28 11:12] mnaczk commented on #236
thanks for the update, I currently working on reproduction.

[2022-07-28 15:43] eero-t commented on #254
I ran that assembly through my old script that checks for register usage (liveness / fragmentation).  It was for GEN9 and needed some workarounds for the new IGC syntax, so I'm not sure whether it worked correctly for the current IGC / GEN12 output, but at least according it, there seems to be 20% free space in register file.

[reg-use.txt](https://github.com/intel/intel-graphics-compiler/files/92

[2022-07-28 16:15] FreddieWitherden commented on #254
I can believe that.  Given:
 - 64 C accumulator registers;
 - 8 A load registers;
 - 16 B load registers;
 - 4 Pointer registers (A, A, B, C);
 - 3 ldx registers (could combine if we are sneaky).
We are at 95/128.

On paper a 96 accumulator version is possible, specifically by loading in A piece-by-piece whence:
 - 96 C accumulator registers;
 - 4 A load registers (used three times during each loo

[2022-07-29 09:52] eero-t commented on #254
Or due to register file fragmentation.  Send require continuous block of regs for its parameters (or 2 blocks, in case it's split to two with ext send message, but if I remember correctly, using that consumes one extra reg).

[2022-07-29 11:11] eero-t commented on #255
Maybe this is related to: https://github.com/intel/intel-graphics-compiler/commit/205e9c3def7f57858f4a4f70665c7bd991a12e35 ?

[2022-07-29 12:02] FreddieWitherden commented on #254
I think everything is fine there, at least for the loads from A and B.  Or rather, I can not think of a reason (beyond bank conflicts) why we can't assign, say, `r0-r3` for A loading and `r4-r19` for B loading.  The accumulators can then go in any order we like, as the cost of defragmenting them at the end should be a rounding error for large values of `k`.  (Indeed, the compiler does this in the

[2022-08-10 16:29] #255 closed

[2022-08-19 02:24] hliao2 commented on #254
On TGL, there are two issues in that main loop body. TGL doesn’t support native 64-bit integer instructions. L197 in your dumped assembly is one of such emulated 64-bit integer operations. In addition, due to the layout difference between the send instruction and the emulated 64-bit integer, L209-L210 pack/unpack data to the proper layout. Another issue is that we have to generate extra code (like

[2022-08-19 02:53] FreddieWitherden commented on #254
What is the trick used when we write to C to avoid the 64-bit integer instructions?  I see it uses a slightly different instruction that does not have the a64 prefix.  Can the read version of this instruction not be used for loading A and B?

[2022-08-20 23:05] ConiKost commented on #236
@mnaczk Where you able to figure out something?

[2022-08-22 09:03] mnaczk commented on #236
Lack of updates due to vacation and holidays in Poland.
I tried to reproduce the issue on Ubuntu but without success. I built every component but did not get any errors in the Vector Compiler.

I am going to make a reproduction on Gentoo. I am unfamiliar with this distro so it probably takes some time.

In the meantime.
I see that crash occurs here.

[code]

[code]

Could you provide the files I l

[2022-08-22 09:29] mnaczk commented on #251
I close the issue.
We do not plan to support OpTypeArray as a kernel argument. The proper error message is implemented.

[2022-08-22 09:29] #251 closed

[2022-08-22 09:36] ConiKost commented on #236
Yes, here are the files.

-> https://www.bl4ckb0x.de/files/VCBiFPrintfOCL32.clang.bc.gz

-> https://www.bl4ckb0x.de/files/Utils.tar.gz

-> https://www.bl4ckb0x.de/files/include.tar.gz

-> https://www.bl4ckb0x.de/files/CMCLTranslatorTool.gz

[2022-08-22 15:17] mnaczk commented on #236
I tried to build LLVM on Gentoo.

I managed to download LLVM sources from: https://github.com/llvm/llvm-project/releases/download/llvmorg-14.0.6/llvm-project-14.0.6.src.tar.xz

llvm-14.0.6-manpages.tar.bz2
and
llvm-gentoo-patchset-14.0.6-r1.tar.xz
from: https://dev.gentoo.org/~mgorny/dist/llvm/

I ran the CMake command:

`cmake -C /var/tmp/portage/sys-devel/llvm-14.0.6-r1/work/llvm_build-abi_x86_3

[2022-08-22 20:02] ConiKost commented on #236
AFAIK, this is being automatically created.

I've uploaded the whole source folder for all packages, after compilation was run. You can also find there the gentoo_toolchain.cmake. -> https://www.bl4ckb0x.de/files/dev.tar.bz2

[2022-08-23 07:08] mnaczk commented on #236
Thanks for the archive. But I can not find LLVM, Clang, and LLD folders in it.
[code]
Could you also provide source folders for LLVM, Clang, and LLD?
If not, Can I safely assume that gentoo_toolchain.cmake is the same for all packages?

[2022-08-23 15:30] ConiKost commented on #236
Whoops, I am sorry. I just forgot to add them :-) Sorry! Uploaded a new archive containing LLVM, Clang and LLD. I also got them all saved. -> https://www.bl4ckb0x.de/files/dev.tar.bz2 (yes, same file name)

[2022-08-30 12:00] mnaczk commented on #236
I was able to reproduce your issue on LLVM13.

My reproduction steps:

- docker run -it gentoo/stage3 bash
- emerge-webrsync
- cd /var/db/repos/gentoo/dev-util/intel-graphics-compiler
- Modify https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-util/intel-graphics-compiler/intel-graphics-compiler-1.0.11485-r2.ebuild
To enable build Vector Compiler
- ebuild intel-graphics-compiler-1.0.11485-r2.ebuil

[2022-08-30 13:40] mnaczk commented on #236
For emerge --ask --verbose --tree dev-util/intel-graphics-compiler
I got:

[code]

[2022-08-30 20:35] ConiKost commented on #236
I've spoken with the LLVM gentoo devs. It' normal, that ```*-common``` and ```libomp``` stuff is 14.x, since it's not slotted. For the rest, please disable, the use flag ```binutils-plugin```. I also don't have that locally enabled.

I also got a hint to check, if those created files maybe still wrongly use LLVM-14. I noticed an interessting thing. The Tool ```dev-util/intel-graphics-compiler-1.0.

[2022-08-31 07:41] mnaczk commented on #236
Interesting, but in my case, I can see that the CMCLTranslatorTool links with libLLVM-13.so as expected.
[code]

I think that we have two different issues, both related to CMCLTranslatorTool.

In your build.log I can see a crash that generates an LLVM stack call, which might suggest that CMCLTranslatorTool links with a different LLVM version than Clang which generates VCBiFPrintfOCL64.clang.bc
[co

[2022-08-31 21:14] ConiKost commented on #236
Please ignore my LLVM-14 stuff. This is wrong. I just tested again, where it failed. I re-checked and CMCLTranslatorTool is linked against libLLVM-13.so, so all fine!

It's the same error here, so I guess, it's both the same. Do you have any idea, in which direction this issue could go, as this only happens with Gentoo LLVM toolchain?

[code]

[2022-09-05 12:54] mnaczk commented on #236
I was unable to solve
`error while loading shared libraries: unexpected PLT reloc type 0x00`
but, I can see that I use gcc-11.3.0 and you use gcc-12.2.0, so I will try to rebuild IGC with gcc-12.2.0.
I wonder why your workspace has gcc-12.2.0?
I am using a clean docker image and I have gcc-11.3.0?

About the future of this issue. I will try to make CMCL as a standalone project, for experimental pu

[2022-09-07 20:19] ConiKost commented on #236
Allright, please give me an update, when available :-) Thank you so far!

[2022-09-16 07:23] mnaczk commented on #236
Due to the high amount of work on upgrading IGC to LLVM 14 with production quality. I must postpone work on this issue, I will come back to this issue 2 weeks from now.

[2022-09-17 18:46] frantisekz opened #258 "LLVM 15: no member named 'getElementType' in 'llvm::PointerType'"
There are bunch of no member named 'getElementType' in 'llvm::PointerType' errors when compiling against LLVM 15:

[code]

and error: use of undeclared identifier 'SimplifyInstruction'; did you mean 'simplifyInstruction'?

[code]

[2022-09-17 18:47] frantisekz commented on #258
There'll be probably some more errors down the road, I didn't have a chance to dig more into it. Reported what the initial attempt ended up with.

[2022-09-18 21:12] frantisekz commented on #258
So, for the first batch of errors around getElementType, just changing to getPointerElementType should be enough (ref. https://github.com/intel/intel-graphics-compiler/commit/49f4d4e3e904179bf3a0b880732b92f8bfb2c64a ):

[code]

simplifyInstruction is a drop-in replacement for SimplifyInstruction, ref: https://github.com/llvm/llvm-project/commit/b8c2781ff60126b8c7c11ed0dab90d0640a17d4f

There are,

[2022-09-19 20:14] pszymich commented on #258
Thank you @frantisekz for you investigation. We have started work on integrating LLVM 15 support in parallel to driving LLVM 14 based IGC conformance up to production level. You should see patches with LLVM 15 oriented fixes appearing in the project in a short while.

[2022-10-02 05:56] alheinecke opened #259 "Building on Fedora Fails when following instructions "build dependencies from source""
I'm doing

[code]

But it fails during cmake setup with:

[code]

[2022-10-04 23:02] ConiKost commented on #249
@mnaczk any news?

[2022-10-06 00:01] alheinecke commented on #259
Great, Many thanks!

[2022-10-12 09:10] anbe42 opened #260 "incorrect #include "../../foo.h" paths"
While analyzing a CI failure in the Debian package of igc (https://salsa.debian.org/opencl-team/intel-graphics-compiler/-/jobs/3346488/raw), I found that some `#include "../../foo.h` do not point to actual files but need to be looked up via the `-I` search paths. That lead to the inclusion of a header from two different locations, causing weird duplicate definition errors. (The CI seems to have an

[2022-10-12 22:04] jgu222 commented on #254
Another source code trick is not to modify input arguments a, b, and c. Instead, using a + offset for each block read/write.  On TGL, it would likely get rid of some of 64 bit address calculation.

[2022-10-13 00:06] FreddieWitherden commented on #254
Works a treat!

[code]
[sgemm-16x4.asm.txt](https://github.com/intel/intel-graphics-compiler/files/9769348/sgemm-16x4.asm.txt)

With the assembly attached.  Inner loop is now done to ~301 instructions.  I'm unsure how many of them relate to hardware errata and if anything smarter can be done there (I do not think such defects are public?).

We also still have some code duplication in the preamble

[2022-10-13 13:51] mnaczk commented on #236
I tried to make CMCL a standalone project but this does not help to debug this issue.
I want to try another approach.
Do you know if this issue is a regression?
Was there a point in the past when the IGC could build up with VectorCompiler on Gentoo?
If so, I could try to isolate the problem.

[2022-10-13 21:42] ConiKost commented on #236
I don't think, that this is a regression. I am not aware, that this was ever working on Gentoo.

[2022-10-14 10:16] eero-t commented on #236
Support for building using prebuilt vc-intrinsics came fairly late: https://github.com/intel/intel-graphics-compiler/issues/142

Has build been tried withvc-intrinsics sources instead of prebuild?

(All components in the stack need to use same components as other components in stack: llvm, opencl-clang, vc-intrinsics, spirv-*, igc, compute-runtime.)

[2022-10-15 12:17] ConiKost commented on #236
Yeah, at least, since I am the maintainer of that package, I was never able to build.

Yes, made no difference for me.

I gave a try, patched the path and tried to recompile. Still fails :/ AFAIK, @mnaczk was able to reproduce with his Gentoo test system?

[2022-10-16 06:26] sanchitintel opened #261 "Latest release's artifacts unusable with Ubuntu 20.04 (gcc 9.4.0)"
Hi, the latest release's artifacts on GitHub require more recent versions of libc & libstdc++.
Would any version be built for Ubuntu 20.04 & subsequently be made available via apt, now that Arc 770 has been released, so that folks wouldn't have to update to the latest versions of libc & libstdc++? Or are more recent versions of libc & libstdc++ indispensable? Thanks!

<img width="649" alt="image"

[2022-10-17 17:43] mnaczk commented on #236
I was able to reproduce the crash of building the Vector Compiler on Gentoo.

As mentioned by @ConiKost in this comment https://github.com/intel/intel-graphics-compiler/issues/236#issuecomment-1080998409
The crash occurs both when VC-Intrinsic is prebuilt and when it is built from the source. Therefore this should not be the case.

I hoped that this is a regression because this would be easier to

[2022-10-17 20:31] ConiKost commented on #236
Yes, I can do that. I have prepared something locally, but need some help.

LLVM seems to consists of lot of subpackages. Which ones do I need and where do I need to place the source?

As for SPIRV-Tools, SPIRV-Headers, vc-intrinsics and SPIRV-LLVM-Translator, I as able to get their source included by IGC.

[2022-10-17 20:38] mnaczk commented on #236
The instruction on to build IGC with the LLVM components from source can be found here: https://github.com/intel/intel-graphics-compiler/blob/master/documentation/build_ubuntu.md#build-from-sources

The directory structure should be like this

[code]

[2022-10-18 08:30] pszymich commented on #261
Hi @sanchitintel, we are aware of the problem. We switched to 22.04 packages in latest release but overlooked the incompatibility.

Starting with next release we will release 20.04 packages. Thanks for spotting the problem.

[2022-10-20 12:07] mnaczk commented on #259
The patches which caused errors were removed with commit https://github.com/intel/opencl-clang/commit/83dc927a5997a2a8ba6ad55d84cbf78f76b300f8
@alheinecke Could you check if the problem is resolved, and if so please close the issue.

[2022-10-21 21:46] ConiKost commented on #236
I am sorry, I don't see myself able to put that into something working. If I do put ```SPIRV-LLVM-Translator``` into ```/llvm-project/llvm/projects/llvm-spirv```, the build system complains, it does not find it. But it seems to find it on ```/SPIRV-LLVM-Translator```. But then it fails not having ```SPIRV-Headers```, but they are put as specified in your list. Also unable to get it working for Cla

[2022-10-25 08:40] abderraouf-adjal commented on #258
@pszymich any updates on the issue?

[2022-10-25 09:16] AGindinson commented on #258
Hi @abderraouf-adjal, there has been some progress over the last 3 weeks, namely commits ce43a7923cb960d3fce5130b0e8de481b5bbb7df and 75a6663f877618fd88d67c7c0ff9e21e6011a243. I'm currently chugging away at the errors related to `Align` and `dwarf::` enum values, with `getPointerElementType` fixes right around the corner. More commits should be getting in over the next 2-3 weeks.

[2022-10-30 19:07] frantisekz commented on #258
@AGindinson

I took bunch of your commits, applied them on top of the latest tag and tried to get a bit further, adding here my patches (take it with grain of salt, I am python programmer :) ), if it saves you some time:

[code]

[code]

[code]

[code]

[code]

This got it to the point where elf_packager call around the half of the compilation crashes with SIGSEGV (tried with and without LTO).

[2022-10-31 09:51] pszymich commented on #258
Hi @frantisekz, many thanks for the help!
Could you move your patches to a pull-request? We'll review them there. Thanks!

[2022-10-31 10:00] AGindinson commented on #258
Hi @frantisekz,

Thank you! All patches but the last one seem to match my findings, and I have PRs underway for that (with minor edits to account for LLVM versioning). The BiFModule issue isn't something I've stumbled upon yet, so backing @pszymich's ask for a PR here - it would be all the more helpful.

[2022-10-31 11:04] frantisekz commented on #258
Here you go :) : https://github.com/intel/intel-graphics-compiler/pull/262

[2022-11-07 16:16] mnaczk commented on #236
I manage to create ebuild file that starts to build IGC with IGC from the source
[code]

I still got error
`/var/tmp/portage/dev-util/intel-graphics-compiler-1.0.12260.1-r2/work/intel-graphics-compiler-igc-1.0.12260.1_build/IGC/Release/CMCLTranslatorTool: error while loading shared libraries: unexpected PLT reloc type 0x00
`

I think that this can be related to the fact that I need to change the l

[2022-11-07 16:40] mnaczk commented on #236
Additionally, for reproduction, I run Gentoo on docker. Do you think that this could be the cause of why I got the error?
`/var/tmp/portage/dev-util/intel-graphics-compiler-1.0.12260.1-r2/work/intel-graphics-compiler-igc-1.0.12260.1_build/IGC/Release/CMCLTranslatorTool: error while loading shared libraries: unexpected PLT reloc type 0x00`
Do you ever hear before that running Gentoo on docker has s

[2022-11-07 21:58] ConiKost commented on #236
No, that should have nothing to do with that. That's only keywords, if you have a stable or testing system. Since per default most packages are stable, it's okay, if you changed to ```amd64``` from ```~amd64```.

To be honest, I have not a slightly idea, why you are getting this error. I am not able to reproduce that on my local system. I have spoken with our infra. Could it be an option, to provi

[2022-11-09 13:17] pszymich commented on #258
Hi, commit b86c1bf9124576473c96e05721a59c6470a19c7e solves the original problem. Thanks @AGindinson!

For other LLVM 15 related sightings please create new issue. Thanks!

[2022-11-09 15:28] frantisekz opened #263 "elf_packager crashes on getNonOpaquePointerElementType() when compiled with LLVM 15"
Compile elf_packager with LLVM 15/clang:

`/usr/bin/clang++ -flto -grecord-gcc-switches -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS --config /usr/lib/rpm/redhat/redhat-hardened-clang.cfg -fstack-protector-strong   -m64  -mtune=generic -fasynchronous-unwind-tables -fstack-clash-protection -fcf-protection -Wno-everything -Qunused-arguments -fexceptions -O0 -

[2022-11-09 15:29] frantisekz commented on #263
I am using igc 1.0.12627.1 with following commits applied on top:

Patch01: 0001-BiF-Wno-int-conversion.patch
Patch02: 26e84bf179be30272bb6c260fd779934bd30ef78.patch
Patch03: 1830bf57c7e4711f53fd78cf5ab68f54b4a66af7.patch
Patch04: eb6c96c2ddc508d0d8387119c166a6cf77287b14.patch
Patch05: 7081da003a56447fbe65786afb9dff9aacaee057.patch
Patch06: 46156beafdfd1d31da067ed8807750d0f7f416a6.patch
Patch07: 9

[2022-11-09 15:30] frantisekz commented on #258
Thanks @AGindinson and @pszymich , will create issues as I pget further with compilation, here is the current roadblock: https://github.com/intel/intel-graphics-compiler/issues/263

[2022-11-12 18:00] oleksandr-pavlyk commented on #261
Ping. Please re-release igc usable on Ubunutu 20.04.

[2022-11-15 07:55] bvbfan commented on #263
So even master is not compatible with LLVM15? @frantisekz thanks for sharing I need to build it against LLVM15.

[2022-11-15 09:34] frantisekz commented on #263
Yeah, verified that right now, master is borked too, the same way.

[2022-11-15 10:41] pszymich commented on #261
Hi, since the next release has been delayed we decided to supplement latest release with Ubuntu 20.04 packages.

[2022-11-15 10:41] #261 closed

[2022-11-15 12:10] bvbfan commented on #263
Thanks it crashes to me as well
[code]
All patches on top of 1.0.12627.1
`[  4%] Linking CXX executable ../Release/elf_packager` crash

[2022-11-16 13:31] AGindinson commented on #263
I'm currently investigating this and similar cases in IGC LIT tests. Apparently, we've started hitting the default enabling of opaque pointers in LLVM 15; @michalpaszkowski and myself will soon establish whether we should explicitly enforce typed pointers on `opencl-clang`'s level, discard `getNonOpaquePointerElementType()` usage where feasible or go with a combination of both.

In the meantime, t

[2022-11-16 13:49] bvbfan commented on #263
@AGindinson  thanks, I've facing another issue now

[code]

[2022-11-16 14:10] bvbfan commented on #263
@AGindinson  I'm not involved in dev but why not just `getType` it returns the underlying type?

[2022-11-16 14:32] AGindinson commented on #263
@bvbfan,

This has to do with the fact that every LLVM global value is a pointer, i.e. `getType()` would give us the pointer type over that of the underlying value.

On a more general note, a "less temporary" fix that we're aiming to implement for LLVM 15 should involve the explicit disabling of opaque pointers' production by Clang & IGC in-tree tools. I'll be sharing more updates as they come.

[2022-11-16 15:42] bvbfan commented on #263
[code]
I manage to compile by correct Patch14

[2022-11-17 11:05] frantisekz commented on #263
Thanks for the elf_packager fix @AGindinson . With that and @bvbfan 's change, it now crashes on bultin compilation:

[code]

[2022-11-17 11:26] AGindinson commented on #263
@bvbfan, @frantisekz, I believe that the `IGC/VectorCompiler/lib/Utils/GenX/TypeSize.cpp` change is incorrect:
[code]
as this breaks the assumption that `PT` is a function pointer type. The best temporary fix I could devise for LLVM 15 would look like:
[code]
My recommendation, however, would be to wait for an opaque pointer-disabling patch that I'm working on right now - hopefully, I'll be able t

[2022-11-17 12:36] frantisekz commented on #263
Okay, I'll wait then, thanks!

(Just to let you know, with your patch, the crash is the same at the same place  (had to change IGCLLVM::getNonOpaquePtrEltType to IGCLLVM::getNonOpaquePtrEltTy)).

[2022-11-17 12:43] bvbfan commented on #263
It compiles fine with new patch and with mine. The problem to me is compute-runtime fails
[code]
I don't know is the problem is in compiler or elsewhere.

[2022-11-17 13:34] AGindinson commented on #263
Yep, 0.9.0 is the version required for LLVM 15 (even if it doesn't resolve the crashes in question)

[2022-11-18 09:32] Ricky-Tigg opened #264 "missing components required for installation of intel-igc-libs"
**OS:** Fedora x86-64
**source** of `intel-igc-libs`: a Fedora repository
**installed** | `intel-opencl-clang`

Hello. Present in a Fedora repository:
[code]
Description of problem: missing components required for installation of` intel-igc-libs`

Steps to reproduce:
[code]
Suggestion to try has no effect. As a consequence `intel-opencl` cannot be installed.

[2022-11-18 09:50] frantisekz commented on #264
This is https://bugzilla.redhat.com/show_bug.cgi?id=2129791 and https://github.com/intel/intel-graphics-compiler/issues/263 .

[2022-11-18 13:39] bvbfan commented on #263
Recompiled to 0.9.0 same issue, it's either caused by dynamic linking of SPIRV or compiler one.

[2022-11-24 15:07] Ricky-Tigg commented on #264
THen a duplicate.

[2022-11-24 15:10] Ricky-Tigg commented on #264
That means a duplicate.

[2022-11-24 15:11] Ricky-Tigg commented on #264
That means a duplicate.

[2022-11-24 15:12] #264 closed

[2022-11-28 17:34] oleksandr-pavlyk opened #266 "Consider renamin *.deb.u2004 artifacts in igc-1.0.12260.1 to *+u2004_amd64.deb"
This would be consistent with how level-zero is doing it.

[code]

Some package manager build tools, like `conda-build`, do not know how to handle `.deb.u2004` file extensions.

[2022-11-28 17:38] oleksandr-pavlyk commented on #266
@pszymich ping

[2022-11-29 08:49] AGindinson commented on #263
All of the known opaque pointer issues should be gone with c707d1e2244aec988bdd5d2a7473ef3a32a5bac7. I wouldn't be surprised to discover additional related problems in NEO RT tests at a later stage, but we can easily handle them as they come in.

[2022-11-29 09:31] frantisekz commented on #263
Yes, indeed, igc now builds just fine against LLVM 15. Huge thanks, @AGindinson !

(@bvbfan used vc-intrinsics 0.10.0)

For any potential issues, eg. when used with compute-runtime, I guess I should create separate issue?

[2022-11-29 10:10] AGindinson commented on #263
Yep, that would be really appreciated! Now that the pure build errors have been handled (more or less), we may be discovering LLVM 15-induced bugs at a slower pace, so these reports do help us a lot.

[2022-11-29 14:00] pszymich commented on #263
With latest @AGindinson's commits I'm closing this issue, thanks

[2022-11-29 14:00] #263 closed

[2022-11-29 14:37] bvbfan commented on #263
Thanks, I compile igc-1.0.12812 on top of LLVM 15.0.5 + 3 patches {c707d1e, d1761df, e09e752} now entire stack is compiled successfully.